        <div class="wrapper fade-in">
            <section>
                <div class="container g-py-100--xl g-py-30--lg g-py-100--sm">
                    <h1 class="text-center g-font-weight-700 g-font-size-42--lg g-font-size-36 g-mb-50">  <?=$lang['label_about']?></h1>
                    <div class="row g-py-50--md g-py-0 dis-fix" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-md-5 col-sm-12 col-xs-12 margin-bottom-top order-2 text-lg-left text-center">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_about_topic1']?>
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h3 class="g-line-height-1_3 g-font-weight-600 g-color-blue">
                                <?=$lang['label_about_group1']?>
                            </h3>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12 order-1">
                            <img src="<?=$BASEURL?>/assets/images/our-vision.jpg" class="img-responsive" alt="To become the most trusted and preferred software innovation partner for Startups, SMBs and Enterprises. Globally!" />
                        </div>
                    </div>
                    <div class="row g-py-50--md g-py-0" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/our-mission.jpg" class="img-responsive g-width-100x" alt="To be innovative and experts in each market we enter, offering extraordinary service and to achieve mutual success and growth for our customers, staffs, and community." />
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-top g-pt-100--lg g-pt-0 text-lg-left text-center">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_about_topic2']?>
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h3 class="g-line-height-1_3 g-font-weight-600">
                               <?=$lang['label_about_group2']?>
                            </h3>
                        </div>
                    </div>
                </div>
            </section>

            <section id="img-bg-about">
                <div class="container">
                    <div class="row g-py-100">
                        <div class="col-md-6 col-lg-6 about-z-index" data-aos="zoom-in" data-aos-duration="1000">
                            <h2 class="g-color-white g-font-size-42--lg g-font-size-36">Inter Vision</h2>
                            <p class="g-line-height-1_5 g-color-white g-font-size-30 g-pt-20">
                                <?=$lang['label_about_topic3']?>
                            </p>

                            <p class="g-color-white g-line-height-1_5 g-pt-20 g-font-size-16--md g-font-size-18">
                                <?=$lang['label_about_group3']?>
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <img class="img-responsive position-r about-fix-img3p" src="<?=$BASEURL?>/assets/images/provides-software-development-solutions.png" alt="Provides software development solutions" />
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container g-py-180--md g-py-100">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36"><?=$lang['label_about_topic4']?><span class="g-color-blue g-mx-15">Inter Vision?</span></h1>
                        </div>
                        <div class="col-md-12" data-aos="zoom-in-up" data-aos-duration="1000">
                            <img class="img-responsive margin-left-right" src="<?=$BASEURL?>/assets/images/why-choose-inter-vision.png" alt="Why Choose Inter Vision?" />
                        </div>
                    </div>
                </div>
            </section>
        </div>