 <div class="wrapper fade-in">
            <section class="container-fluid g-px-0">
                <div class="col-xs-12 col-sm-12 col-md-12 g-py-100--lg g-py-0--xl g-px-0">
                
                    <div class="row caption-banner text-center text-lg-left" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-md-7 col-sm-12">
                            
                            
                            <p class="">
                                <span class="text-blue g-font-weight-500">WEB.</span>
                                <span class="text-mint g-mx-8 g-font-weight-500">SOFTWARE.</span>
                                <span class="text-orange g-mx-8 g-font-weight-500">MOBILE.</span>
                                <span class="text-pink g-mx-8 g-font-weight-500">PLATFORM DEVELOPMENT ON DEMAND.</span>
                            </p>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                                <?=$lang['label_section_headline']?>
                            </h1>
                            <p class="sub_banner_set g-my-30 g-font-size-16--md g-font-size-16">
                                <?=$lang['label_section_detail']?>
                                
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-0">
                            <ul class="list-style-none g-line-height-2 text-left home-fax-ml">
                                <li class="g-font-bold g-font-size-16--md g-font-size-16"><span class="g-pr-10 g-color-gray-light-v2">●</span><?=$lang['label_section_li_1']?></li>
                                <li class="g-font-bold g-font-size-16--md g-font-size-16"><span class="g-pr-10 g-color-gray-light-v2">●</span><?=$lang['label_section_li_2']?></li>
                                <li class="g-font-bold g-font-size-16--md g-font-size-16"><span class="g-pr-10 g-color-gray-light-v2">●</span><?=$lang['label_section_li_3']?></li>
                            </ul>
                            <p class="sub_banner_set g-my-30 g-font-size-16--md g-font-size-16">
                                <?=$lang['label_section_detail2']?>
                            </p>
                        </div>
                        <div class="col-md-7 col-sm-6 col-sm-offset-3 col-md-offset-0 g-mb-50">
                            <a href="<?=$WEBURL?>/about-us" class="btn btn-lg g-bg-bluegray-gradient-opacity-v1 g-font-size-20 g-mr-30 "><?=$lang['label_section_bt_leardmore']?></a>
                           <!--  <img class="g-mr-10" src="<?=$BASEURL?>/assets/images/Vdo.png" /><span class="g-font-bold">WATCH VIDEO</span> -->
                        </div>
                    </div>
                    <img  src="<?=$BASEURL?>/assets/images/banner/custom-web-software-development.webp" class="img-responsive hidden-xs hidden-sm" alt="Custom Web Software Development" />
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div class="row g-mt-40">
                        <div class="col-md-4 col-sm-4 col-xs-3">
                            <hr />
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                            <p class="g-text-transform-uppercase g-mt-10">
                                <span class="g-color-blue g-font-size-16--md g-font-size-16 g-font-weight-500">Trusted</span>
                                <span class="g-font-size-16--md g-font-size-16 g-font-weight-500">by world class brands across the globe.</span>
                                <span class="g-color-gray-light-v1 g-font-size-16--md g-font-size-16 g-font-weight-500"> As used by:</span>
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-3">
                            <hr />
                        </div>
                    </div>
                    <div class="col-xs-12 g-flex-centered g-px-0">
                        <img src="<?=$BASEURL?>/assets/images/lntervision-clients.webp" class="img-responsive hidden-xs hidden-sm" alt="Intervision Clients"/>
                       
                    </div>
                </div>
            </section>

            <section class=" g-pb-50--sm g-pb-0--lg g-pb-50">
            
                <div class="container-fluid">
                    <div class="row g-mt-60 bg-3">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 g-px-0" >
                            <img src="<?=$BASEURL?>/assets/images/web-software-mobile-platform-development.webp" class="img-responsive full-img hidden-xs hidden-sm" alt="Web Software Mobile Platform Development on Demand" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center text-md-left text-lg-left home_about_us" data-aos="zoom-in" data-aos-duration="1000">
                  
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold hidden-xs hidden-sm">
                               <?=$lang['label_about']?><span class="letter-spacing--3">———————</span>
                            </div>
            
                            <h1 class="g-line-height-1_3 g-font-weight-700 g-font-size-42--lg g-font-size-36"><span class="g-color-blue">Inter Vision </span>provides software development solutions ranging from consulting to execution</h1>
                            <div class="g-pt-30">
                                <p class="g-font-size-16--md g-font-size-16"><?=$lang['label_section_detail2']?></p>
                            </div>
                        
                            <div class="g-pt-30 hidden-xs hidden-sm">
                                <p class="g-font-size-16--md g-font-size-16">
                                   <?=$lang['label_section_detail3']?>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="g-py-150--md g-py-80">
                <div class="container" data-aos="fade-up" data-aos-duration="1000">


					
    					<div class="row hidden-xs hidden-sm">
                            <div class="col-md-3">
                                <ul id='tabs' class="tab-left">
                                    <li class="on tto tab_1" data-id="1">
                                        <input type="hidden" id="active_tab" value="1">
                                          <a class="service-tab active" data-id="1" data-toggle="tab" href="#ic1">
                                                <div class="row g-my-30 g-text-hover-1">
                                                    <div class="col-md-8 text-right  g-px-5 g-color-black">
                                                        <h2 class="g-font-size-16--md g-font-size-16">
                                                            Digital Transformation <br />
                                                            Consultant Service
                                                        </h2>
                                                    </div>
                                                    <div class="col-md-4 hvr-grow">
                                                        <img class="img-responsive" src="<?=$BASEURL?>/assets/images/icon-navbar/ic_1.png" alt="Digital Transformation Consultant Service Slide Icon" />
                                                    </div>
                                                  
                                                </div>
                                            </a>
                                    </li>
                                    <li class="tto tab_2" data-id="2">
                                      <a class="service-tab" data-id="2" data-toggle="tab" href="#ic2">
                                            <div class="row g-my-30 g-text-hover-2">
                                                <div class="col-md-8 text-right  g-px-5 g-color-black">
                                                    <h2 class="g-font-size-16--md g-font-size-16">
                                                        Web Development <br />
                                                        for Branding
                                                    </h2>
                                                </div>
                                                <div class="col-md-4 hvr-grow">
                                                    <img class="img-responsive" src="<?=$BASEURL?>/assets/images/icon-navbar/ic_2.png" alt="Web Development for Branding Slide Icon" />
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tto tab_3" data-id="3">
                                      <a class="service-tab" data-id="3" data-toggle="tab" href="#ic3">
                                            <div class="row g-my-30 g-text-hover-3">
                                                <div class="col-md-8 text-right  g-px-5 g-color-black">
                                                    <h2 class="g-font-size-16--md g-font-size-16">
                                                        E-Commerce <br />
                                                        Web Development
                                                    </h2>
                                                </div>
                                                <div class="col-md-4 hvr-grow">
                                                    <img class="img-responsive" src="<?=$BASEURL?>/assets/images/icon-navbar/ic_3.png" alt="E-Commerce Web Development Slide Icon" />
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tto tab_4" data-id="4">
                                        <a class="service-tab" data-id="4" data-toggle="tab" href="#ic4">
                                            <div class="row g-my-30 g-text-hover-4">
                                                <div class="col-md-8 text-right  g-px-5 g-color-black">
                                                    <h2 class="g-font-size-16--md g-font-size-16">
                                                        POS Sales System <br />
                                                        Development
                                                    </h2>
                                                </div>
                                                <div class="col-md-4 hvr-grow">
                                                    <img class="img-responsive" src="<?=$BASEURL?>/assets/images/icon-navbar/ic_4.png" alt="POS Sales System Development Slide Icon" />
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tto tab_5" data-id="5">
                                        <a class="service-tab" data-id="5" data-toggle="tab" href="#ic5">
                                            <div class="row g-my-30 g-text-hover-5">
                                                <div class="col-md-8 text-right  g-px-5 g-color-black">
                                                    <h2 class="g-font-size-16--md g-font-size-16">
                                                        Stock/Warehouse <br />
                                                        Management System
                                                    </h2>
                                                </div>
                                                <div class="col-md-4 hvr-grow">
                                                    <img class="img-responsive" src="<?=$BASEURL?>/assets/images/icon-navbar/ic_5.png" alt="Stock/Warehouse Management System Slide Icon" />
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 text-center tab-content" id="ic-left">
                                    <div id="ic1" class="row tab-pane fade in active">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">
                                                Digital Transformation<br />
                                                Consultant Service
                                            </h1>
                                            <p>Set the path of transformation from physical to digital.</p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/digital-transformation-consultant-service.webp" alt="Digital Transformation Consultant Service" />
                                            <a href="<?=$WEBURL?>/services/1/Digital-Transformation-Consultant-Service" class="btn btn-md g-btn-1 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>
                                        </div>
                                    </div>
                                    <div id="ic2" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">
                                                Web Development <br />
                                                for Branding
                                            </h1>
                                            <p>
                                                The perfect start of your future website. <br />
                                                Optimized for any devices. SEO Friendly.
                                            </p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/web-development-for-branding.webp" alt="Web Development for Branding" />
                                            <a href="<?=$WEBURL?>/services/2/web-development-for-branding" class="btn btn-md g-btn-2 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>
                                        </div>
                                    </div>
                                    <div id="ic3" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">
                                                E-Commerce<br />
                                                Web Development
                                            </h1>
                                            <p>
                                                We work closely with clients to create customized E-Commerce solutions. <br />
                                                Increase profits and make your E-Commerce business thrive.
                                            </p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/e-commerce-web-development.webp" alt="E-Commerce Web Development" />
                                            <a href="<?=$WEBURL?>/services/3/e-commerce-web-development" class="btn btn-md g-btn-3 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>

                                        </div>
                                    </div>
                                    <div id="ic4" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">
                                                POS Sales System<br />
                                                Development
                                            </h1>
                                            <p>The main aim of using a POS solution is to reduce the manual effort it takes to operate a retail store and hence improve the performance and productivity of the entire system.</p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/pos-sales-system-development.webp" alt="POS Sales System Development " />
                                            <a href="<?=$WEBURL?>/services/4/pos-sales-system-development" class="btn btn-md g-btn-4 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>

                                        </div>
                                    </div>
                                    <div id="ic5" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">
                                                Stock/Warehouse<br />
                                                Management System
                                            </h1>
                                            <p>
                                                Warehouse management software offers tools, processes, and best practices <br />
                                                that allow businesses to get on top of administering warehouse operations.
                                            </p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/stock-warehouse-management-system.webp" alt="Stock/Warehouse Management System" />
                                            <a href="<?=$WEBURL?>/services/5/stock-warehouse-management-system" class="btn btn-md g-btn-5 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>

                                        </div>
                                    </div>
                                    <div id="ic6" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">
                                                Customer Loyalty<br />
                                                & Rewards System
                                            </h1>
                                            <p>
                                                We empower you to a customized loyalty program that can make <br />
                                                your customers and members feel special.
                                            </p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/customer-loyalty-rewards-system.webp" alt="Customer Loyalty & Rewards System" />
                                            <a href="<?=$WEBURL?>/services/6/customer-loyalty-rewards-system" class="btn btn-md g-btn-6 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>

                                        </div>
                                    </div>
                                    <div id="ic7" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">Online Booking System</h1>
                                            <p>
                                                Effortlessly manage service booking reservations from all channels <br />
                                                in a single, easy-to-use system
                                            </p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/online-booking-system.webp" alt="Online Booking System" />
                                            <a href="<?=$WEBURL?>/services/7/online-booking-system" class="btn btn-md g-btn-7 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>

                                        </div>
                                    </div>
                                    <div id="ic8" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">
                                                Online E-Learning<br />
                                                Training System
                                            </h1>
                                            <p>
                                                Your own customized E-Learning platfrom. Enterprise friendly E-Learning system. <br />
                                                Train your people. Measure results. Drive growth.
                                            </p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/online-e-learning-training-system.webp" alt="Online E-Learning/Training System" />
                                            <a href="<?=$WEBURL?>/services/8/online-e-learning-training-system" class="btn btn-md g-btn-8 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>

                                        </div>
                                    </div>
                                    <div id="ic9" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">School Management System</h1>
                                            <p>
                                                School Management System made simple! Easy to maintain and enhance<br />
                                                 managing process with great software platform.
                                            </p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/school-management-system.webp" alt="School Management System" />
                                            <a href="<?=$WEBURL?>/services/9/school-management-system" class="btn btn-md g-btn-9 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>

                                        </div>
                                    </div>
                                    <div id="ic10" class="row tab-pane fade in">
                                        <div class="col-sm-12">
                                            <p class="letter-spacing-2 g-font-size-13 g-font-bold"><u class="g-mt-10">SERVICES</u></p>
                                            <h1 class="g-font-weight-700 g-font-size-42--lg g-font-size-36 ">E-mail Marketing System</h1>
                                            <p>
                                                Better email marketing. Better results. <br />
                                                Put the right emails in front of the right people.
                                            </p>
                                            <img class="img-responsive" src="<?=$BASEURL?>/assets/images/show/e-mail-marketing-system.webp" alt="E-mail Marketing System" />
                                            <a href="<?=$WEBURL?>/services/10/email-marketing-system" class="btn btn-md g-btn-10 g-brd-1 g-mr-10 g-my-15 g-pa-20">LEARN MORE</a>

                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-3">
                                <ul id='tabs' class="tab-r"> 
                                    <li class="tto tab_6" data-id="6">
                                      <a class="service-tab " data-id="6" data-toggle="tab" href="#ic6">
                                           <div class="row g-my-30 g-text-hover-6 g-pl-20">
                                                <div class="col-xs-3 g-px-0 hvr-grow">
                                                    <img class=" " src="<?=$BASEURL?>/assets/images/icon-navbar/ic_6.png" alt="Customer Loyalty & Rewards System Slide Icon" />
                                                </div>
                                                <div class="col-xs-9 g-px-0  g-px-20 g-color-black home-fix-max-height">
                                                    <h2 class="g-font-size-16--md">
                                                        Customer Loyalty <br />
                                                        & Rewards System
                                                    </h2>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tto tab_7" data-id="7">
                                      <a class="service-tab" data-id="7" data-toggle="tab" href="#ic7">
                                            <div class="row g-my-30 g-text-hover-7 g-pl-20">
                                                <div class="col-xs-3 g-px-0 hvr-grow">
                                                    <img class=" " src="<?=$BASEURL?>/assets/images/icon-navbar/ic_7.png" alt="Online Booking System Slide Icon" />
                                                </div>
                                                <div class="col-xs-9 g-px-0  g-px-20 g-color-black home-fix-max-height">
                                                    <h2 class="g-font-size-16--md">Online Booking System</h2>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tto tab_8" data-id="8">
                                      <a class="service-tab" data-id="8" data-toggle="tab" href="#ic8">
                                            <div class="row g-my-30 g-text-hover-8 g-pl-20">
                                                <div class="col-xs-3 g-px-0 hvr-grow">
                                                    <img class=" " src="<?=$BASEURL?>/assets/images/icon-navbar/ic_8.png" alt="Online E-Learning/Training System Slide Icon" />
                                                </div>
                                                <div class="col-xs-9 g-px-0  g-px-20 g-color-black home-fix-max-height">
                                                    <h2 class="g-font-size-16--md">
                                                        Online E-Learning <br />
                                                        Training System
                                                    </h2>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tto tab_9" data-id="9">
                                        <a class="service-tab" data-id="9" data-toggle="tab" href="#ic9">
                                            <div class="row g-my-30 g-text-hover-9 g-pl-20">
                                                <div class="col-xs-3 g-px-0 hvr-grow">
                                                    <img class=" " src="<?=$BASEURL?>/assets/images/icon-navbar/ic_9.png" alt="School Management System Slide Icon" />
                                                </div>
                                                <div class="col-xs-9 g-px-0  g-px-20 g-color-black home-fix-max-height">
                                                    <h2 class="g-font-size-16--md">
                                                        School Management <br />
                                                        System
                                                    </h2>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tto tab_10" data-id="10">
                                        <a class="service-tab" data-id="10" data-toggle="tab" href="#ic10">
                                            <div class="row g-my-30 g-text-hover-10 g-pl-20">
                                                <div class="col-xs-3 g-px-0 hvr-grow">
                                                    <img class=" " src="<?=$BASEURL?>/assets/images/icon-navbar/ic_10.png" alt="E-mail Marketing System Slide Icon"  />
                                                </div>
                                                <div class="col-xs-9 g-px-0  g-px-20 g-color-black home-fix-max-height">
                                                    <h2 class="g-font-size-16--md">E-mail Marketing System</h2>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
              


                </div>
            </section>

            <section>
                <div class="container-fluid g-px-0">
                    <div class="row" id="img-bg-section4">
                        <div class="col-md-5 col-lg-6"></div>    
                        <div class="col-md-7 col-sm-12 col-xs-12 col-lg-6 col-sm-12 g-color-white g-px-0 bg-section4" data-aos="fade-up" data-aos-duration="1000">
                            <!-- <img src="<?=$BASEURL?>/assets/images/show/img15.png" class="img-responsive visible-xs visible-sm position-r"> -->
                            <img src="<?=$BASEURL?>/assets/images/show/images/HomePage-2.png" class="img-responsive  hidden-xs hidden-sm position-index"  />
                            <div class="home_digital">
                                <h1 class="g-line-height-1_3 g-font-weight-700 g-font-size-42--lg g-font-size-36">
                                    Digital Business <br />
                                    Transformation Through <br />
                                    Custom Software <br />
                                    Development
                                </h1>
                                <p class="g-my-30--md g-my-10 g-font-size-16--md g-font-size-16">
                                    We listen to your ideas and create custom software <br />
                                    solutions from the ground up, designed especially <br />
                                    for your business.
                                </p>
                                <div>
                                    <a href="<?=$WEBURL?>/contact_us" class="btn btn-lg g-btn-outline-white g-brd-2 g-my-30 g-font-size-20">GET A QUOTE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="g-mt-105--md  g-mt-0--sm">
                <div class="container g-py-30 g-px-150--lg g-px-0--md">
                    <div class="row">
                        <h1 class="text-center g-line-height-1_3 g-font-weight-700 g-font-size-60--lg g-font-size-36">Our Work Process</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                                <img src="<?=$BASEURL?>/assets/images/step/meeting.webp" class="img-responsive hidden-xs hidden-sm" alt="Meeting with the customer"/>
                                
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12 g-mt-150--sm g-mt-0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">

                            <div class="hidden-xs hidden-sm">
                                <h3 class="g-font-weight-700 g-my-30">Meeting with the customer</h3>
                                <p class="g-font-size-16--md g-font-size-16">
                                    The first meeting is very important to get acquainted and discuss the <br />
                                    main ideas of the project.
                                </p>
                            </div>
                        

                            <div>
                                <img class="img-responsive hidden-xs hidden-sm" src="<?=$BASEURL?>/assets/images/step/arrow1.png" alt="arrow" />
                            </div>
                        </div>
                    </div>
                    <div class="row dis-fix">
                        <div class="col-md-7 col-sm-12 col-xs-12 g-mt-80--sm g-mt-0 order-2" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
      

                            <div class="hidden-xs hidden-sm">
                                <h3 class="g-font-weight-700 g-my-30 text-right">We consider and analyze the work plan</h3>
                                <p class="g-font-size-16--md g-font-size-16 text-right">
                                    When we understand the main ideas, we proceed to discuss <br />
                                    the work plan and analyze it.
                                </p>
                            </div>

                         

                            <div class="position-r">
                                <img class="img-responsive hidden-xs hidden-sm" src="<?=$BASEURL?>/assets/images/step/arrow2.png" alt="arrow" />
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-12 col-xs-12 order-1" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <img src="<?=$BASEURL?>/assets/images/step/consider-and-analyze.webp" class="img-responsive hidden-xs hidden-sm" alt="We consider and analyze the work plan"/>
       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <img src="<?=$BASEURL?>/assets/images/step/work-hard.webp" class="img-responsive hidden-xs hidden-sm" alt="Work hard on the project"/>
            
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12 g-mt-80--sm g-mt-0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                  
                            <div class="hidden-xs hidden-sm">
                                <h3 class="g-font-weight-700 g-my-30">Work hard on the project</h3>
                                <p class="g-font-size-16--md g-font-size-16">
                                    Our professional team starts to work on your project and <br />
                                    embody all details of the initial concept
                                </p>
                            </div>
                

                            <div class="">
                                <img class="img-responsive hidden-xs hidden-sm" src="<?=$BASEURL?>/assets/images/step/arrow1.png" alt="arrow" />
                            </div>
                        </div>
                    </div>
                    <div class="row dis-fix">
                        <div class="col-md-7 col-sm-12 col-xs-12 g-mt-80--sm g-mt-0 order-4" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
          

                            <div class="hidden-xs hidden-sm">
                                <h3 class="g-font-weight-700 g-my-30 text-right">Once again we analyze and check everything</h3>
                                <p class="g-font-size-16--md g-font-size-16 text-right">
                                    We meet, analyze and check the work we done on the project <br />
                                    and make any necessary changes.
                                </p>
                            </div>

                        

                            <div class="position-r">
                                <img class="img-responsive hidden-xs hidden-sm" src="<?=$BASEURL?>/assets/images/step/arrow2.png" alt="arrow" />
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12 order-3" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <img src="<?=$BASEURL?>/assets/images/step/analyze.webp" class="img-responsive hidden-xs hidden-sm" alt="Once again we analyze and check everything"/>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <img src="<?=$BASEURL?>/assets/images/step/finish-the-project.webp" class="img-responsive hidden-xs hidden-sm" alt="We finish the project and send it to the customer"/>
                        
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12 g-mt-80--sm g-mt-0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">

                            <div class="hidden-xs hidden-sm">
                                <h3 class="g-font-weight-700 g-my-30">
                                    We finish the project and send it <br />
                                    to the customer
                                </h3>
                                <p class="g-font-size-16--md g-font-size-16">
                                    The project is completed and we give it to our customer. <br />
                                    We also ask for customer’s feedback.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <section id="bg-section5">
                <div class="container " id="contact">
                    <div class="row g-my-100--md g-my-50">
                        <div class="col-md-7" data-aos="zoom-in-right" data-aos-duration="1000">
                            >
                            <img class="img-responsive hidden-xs hidden-sm" src="<?=$BASEURL?>/assets/images/contact-intervision.webp" alt="Contact Intervision" />
                        </div>
                        <div class="col-md-5 col-sm-6 col-sm-offset-3 col-md-offset-0" data-aos="zoom-in-left" data-aos-duration="1000">
                            >
                            <h1 class="g-color-white g-mb-50 g-line-height-1_3 g-font-weight-700 g-font-size-42--lg g-font-size-36 text-sm-center text-xs-center">
                                <span class=""> Get in Touch </span><br />
                                with
                                <span class="g-color-blue">Our Team</span>
                            </h1>
                            <form id="FormAdd" action="" method="post" name="fm_data">
                                <label for="name" class="inp">
                                    <input class="g-bg-white" type="text" id="name" name="name" placeholder="&nbsp;" required oninvalid="this.setCustomValidity('Please fill in this field.')" oninput="this.setCustomValidity('')" />
                                    <span class="label">Name</span>
                                    <span class="border">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </label>

                                <label for="company" class="inp">
                                    <input class="g-bg-white" type="email" id="email" name="email" placeholder="&nbsp;" required oninvalid="this.setCustomValidity('Please fill in this field.')"  oninput="this.setCustomValidity('')"/>
                                    <span class="label">Email</span>
                                    <span class="border">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </label>

                                <label for="phone" class="inp">
                                    <input class="g-bg-white" type="text" id="phone" name="phone" placeholder="&nbsp;" required oninvalid="this.setCustomValidity('Please fill in this field.')" oninput="this.setCustomValidity('')" />
                                    <span class="label">Phone</span>
                                    <span class="border">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </label>

                                <label for="messages" class="inp">
                                    <textarea class="g-bg-white" type="text" placeholder="&nbsp;" id="messages" name="messages" required oninvalid="this.setCustomValidity('Please fill in this field.')"oninput="this.setCustomValidity('')" ></textarea>
                                    <span class="label">Your Message</span>
                                    <span class="border">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </label>
                                <div class="">
                                    <div class="g-recaptcha" data-sitekey="6LcXgv0UAAAAAFFRdTljv8cyxQ1Jn4lONm_KuYgW" required ></div>
                                    <br />
                                </div>
                                <button type="submit" class="btn btn-lg g-bg-bluegray-gradient-opacity-v1 g-mb-50 g-font-size-20 g-width-100x g-color-white letter-spacing-2 btn_send_contact" data-toggle="modal" data-target="#success">SEND</button>


                            </form>
                        </div>
                    </div>
                </div>
           
            </section>
        </div>

        

