      <div id="main-wrapper">
            <div id="page-contents" class="page-content ">

                <div class="container">
                    <div class="row g-px-0--md g-px-50">
                        <h1 class="g-color-blue g-my-100--md g-my-50 g-font-weight-700">Privacy Policy</h1>
                        <h4>Your Information</h4>
                        <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                           In using our Services, you provide us with the following information which we store securely:
                           <br>
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Account and Profile Information</u><br>
                           •&nbsp;Contact information such as name, email address, mailing address, phone number and country<br>
                           •&nbsp;Profile information such as a username, profile photo, and job role<br>
                           •&nbsp;Preferences information such as notification and marketing preference
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Operational Data</u><br> 
                            We also store information you upload to or send through our Services, including:<br>
                            •&nbsp;Information about products and services the Subscriber sells (including inventory, pricing, sale, transaction, tax, and other data)<br>
                            •&nbsp;Information about the Subscriber or the Subscriber’s business (employee, customer, and contact data)
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Other Submissions</u><br>
                            We ask for and collect personal information from you when you submit web forms on our websites or when you participate in any interactive features of our Services, participate in a survey, competition, promotion, activity or event, apply for a job, request customer support, download content, communicate with us via third party social media sites, or otherwise communicate with us.
                        </p>
                        <br>
                        <h4>What other information do we collect?</h4>
                        <p class="g-font-size-16--md g-font-size-20"> 
                            <u>Access Logs</u><br>
                            Like with most websites and services delivered over the Internet, we gather certain information and store it in log files when you interact with our websites and Services. This information includes Internet protocol (IP) addresses as well as browser type, URLs of referring/exit pages, operating system, language and location preferences, time/date stamp, search history, device identification numbers and system configuration information. Occasionally, we connect personal information to information gathered in our log files as is necessary to improve our Services.
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Analytics Information</u><br>
                            We collect analytics information when you use our Services to help us improve our products and services. We are always aiming to make Intervision.co a better experience for retailers and customers alike, and your information really helps us to do this! This analytics information consists of the function and feature of the Intervision.co Service being used, and the Subscriber's Intervision.co subdomain name (or similar), the username and IP address of the individual who is using the function or feature (which will include any personal information incorporated into the username), and other information needed to detail the operation of the function and the parts of the Services that are being affected.
                            <br>
                            <br>
                            We use Google Analytics as one of our analytics providers. Refer to Google's Policies and Principles to find out more about the privacy policy of Google Analytics. To prevent analytics information from being sent to Google Analytics, use the Google Analytics Opt-out Browser Add-on.
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Analytics Information Derived from Operational Data</u><br>
                            Analytics information also consists of data we collect as a result of running queries against Operational Data across our user base for the purposes of generating Usage Data. "Usage Data" is aggregated data about a category or group of features, services, or users that is not of itself personal information. It is also data about our Subscribers and their business.
                            <br>
                            <br>
                            We may incidentally come across sensitive or personal information when we compile Usage Data.
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Cookies, Web Beacons and Other Tracking Technologies</u><br>
                            Cookies, web beacons and other technologies are used by Intervision.co and our third-party partners (for example, our advertising and analytics partners) to collect information. A cookie is a small text file that is stored on your hard drive or in device memory for record keeping purposes. We use cookies to give you a better and more personalized use of the Services, to save you logging in every time and to count the number of visits. Intervision.co and our third-party partners also collect information using web beacons. Web beacons are objects embedded in our Services or in emails that assist us to check that Content has been accessed for web analytics. You may be able to opt out of receiving personalized advertisements as described below under How you can protect Your information.
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Information from Third-Party Services</u><br>
                            We may also receive personal information from third parties such as social media, data enrichment or authentication services when, for example, you sign up to our Services, fill in forms on our Services or log onto our Services through such services. Any access we may have to such information is governed by the authorization procedures of that service. By authorizing us to connect with a third party service, you authorize us to access and store your name, email address(es), locale, profile picture URL, and other personal information that the third party service makes available to us, and to use and disclose it in accordance with this Privacy Policy. Check your privacy settings on these third-party services to learn and modify the information these services send to us.
                        </p>
                        <br>
                        <h4>How Intervision.co uses your information</h4>
                        <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                           We are continually striving to improve Intervision.co. Being able to identify how retailers are using our product plays a big part in helping us to make our software better. We may use information about you for purposes such as:<br>
                           •&nbsp;Enabling you to access and use our Services<br>
                           •&nbsp;Displaying historical sale information<br>
                           •&nbsp;Sending you marketing, advertising, educational content and promotional messages and other information that may be of interest to you, including information about us, our Services, or general promotions for business partner campaigns and services. You can unsubscribe or opt-out from receiving these communications described below under “How You Can Protect Your Information”<br>
                           •&nbsp;To administer referral programs, rewards, surveys, sweepstakes, contests, or other promotional activities or events sponsored or managed by us or our business partners<br>
                           •&nbsp;Measuring, customizing and improving the Services and developing new products•Sending to you – service, support and administrative messages, reminders, technical notices, updates, security alerts and information requested by you<br>
                           •&nbsp;Investigating and preventing fraudulent transactions, unauthorized access to Services, and other illegal activities
                           <br>
                           <br>
                           Where we need your personal information for any other purposes, it will be obvious from the circumstances as to the purposes for which we require that personal information from you.
                        </p>
                        <br>
                        <h4>Sharing & disclosure of your information</h4>
                        <p class="g-font-size-16--md g-font-size-20">When you use the Services, we may share your information only as described below:</p>
                        <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                            <u>Service Providers, Business Partners and Others</u><br>
                            We use and work with third-party service providers and our trusted Business Partners to provide application development, hosting, website, infrastructure, maintenance, backup, payment processing, customer relationship management, marketing, accounting, human resources, business intelligence and analytics, data enrichment, customer support and other services for us. These service providers may have access to or process your information for the purpose of providing those services for us. Some of our pages use white-labelling techniques to serve content from our service providers while providing the look and feel of our site. Please note that you are providing your information to these third parties acting on behalf of Intervision.co. These third parties are located in countries which may be outside of your location.
                            <br>
                            <br>
                           We also share your contact information with select trusted Business Partners, such as our partners who integrate with Intervision.co services, to enable them to contact you about their services (as they relate to your Intervision.co Services). We also obtain contact information from select Business Partners to better understand your preferences and to deliver you more personalized marketing.
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                           <u>Third Parties You Authorize</u><br>
                            You can give third parties access to you and your end users’ information on the Services. For example, you may wish to integrate Intervision.co with a third-party order fulfillment service that requires access to the mailing addresses you collect from your end users, in order for that order fulfillment service to send delivery to end users on your behalf. Just be aware that such third-party’s use of this information will be governed by the terms and privacy policies of the third party. 
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Links to Third-Party Sites</u><br>
                            Our Services may contain links to other sites. We have no control over, and take no responsibility for, the privacy practices or content on other sites. You are responsible for checking the privacy policy of any such sites so that you can be informed of how they handle personal information.
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Social Media Widgets</u><br>
                            Our Services may include social media features, such as the Facebook “Like” button and widgets, and the “Share” button or interactive mini-programs that run on our site. These features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on our site. Your interactions with these features are governed by the privacy policy of the company providing it.
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                             <u>Compliance with Laws and Protection of Rights</u><br>
                            In certain situations, we may be required to use and disclose your information (including personal information) to a third-party if we believe the disclosure is reasonably necessary: <br>
                            •&nbsp;To comply with any applicable law, legal process (for example, subpoenas and warrants) or governmental request <br>
                            •&nbsp;To enforce and administer our agreements, policies and terms of use <br>
                            •&nbsp;To protect the property, rights, and safety of Intervision.co, our Subscribers or the public from harm or illegal activities<br>
                            •&nbsp;For fraud prevention, risk assessment, investigation, customer support, product development or debugging purposes<br>
                            •&nbsp;To protect the rights, property or personal safety of Intervision.co, its users or members of the public<br>
                            •&nbsp;To establish or exercise our legal rights or defend ourselves against any third-party claims or allegations
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Business Transfers</u><br>
                            If Intervision.co undertakes or is involved in any merger, acquisition, reorganization, sale of assets or bankruptcy or insolvency event, then we may transfer or share some or all of our assets, including your personal information. In this event, we will notify you before your personal information is transferred and becomes subject to a different privacy policy.
                        </p>
                        <p class="g-font-size-16--md g-font-size-20">
                            <u>Non-Identifying or Aggregated Data</u><br>
                            We may share aggregated or other non-personal information that does not directly identify you with third parties in order to improve our Services. 
                        </p>
                        <br>
                        <h4>Your Choices and Privacy Rights</h4>
                        <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                            <u>Opting Out of Promotional Communications</u><br>
                            You may opt out of receiving promotional communications from Intervision.co by using the unsubscribe link within each email or contacting us via our home page or sales team. Even after you opt out from receiving promotional messages from us, you will continue to receive transactional messages from us regarding Services (e.g. account verification, purchase and billing confirmations and reminders, technical and security notices).
                            
                         <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                            	 <u>Your California Privacy Rights</u><br>
                            Subscriber Information:<br>
                            In addition to the rights listed above, if you are in California you also have rights under the California Consumer Privacy Act (CCPA) to:<br>
                           
                            •&nbsp;Know what personal information we collect, use, and disclose<br>
                            •&nbsp;Request deletion of your personal information<br>
                            •&nbsp;Not receive discriminatory treatment by us for the exercise of your rights<br>
                            •&nbsp;Designate an authorized agent to make a CCPA request on your behalf<br>
                            •&nbsp;Know that we do not sell your personal information
                            <br>
                            <br>
                            If you are a California resident and would like to exercise any of your above rights, or if you have questions or concerns about our privacy policies and practices, please contact us at admin@Intervision.co.co We may need to verify your identity before processing any request, by asking you to log in to our Services using your login credentials.
                            <br>
                            <br>
                            Customer Information:This section applies to Customer Information constituting personal information under the CCPA. For the purposes of such personal information, you are a business and we are a service provider.
                            <br>
                            <br>
                            Your transfer of the personal information to us is not a sale, and we provide no monetary or other valuable consideration to you in exchange for the personal information.
                            <br>
                            <br>
                            Except as otherwise instructed by you, we will not (a) sell the personal information or (b) collect, retain, use or disclose the personal information for any purpose (including any commercial purpose) other than to provide our Services.
                            <br>
                            <br>
                            As applicable to our Services, we will reasonably assist you with any verifiable consumer requests to retrieve or delete the personal information.
                            <br>
                            <br>
                            For purposes of this section, the terms “business”, “commercial purpose”, “consumer”, “personal information”, “service provider”, “sell” and “verifiable consumer request” have the meanings given in the CCPA.
                            </p>
                         <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                         	<u>Your European Privacy Rights</u><br>
                            In addition to the rights listed above, if you are in the EEA you also have rights to:<br>
                            •&nbsp;Know what personal information we hold about you, and to make sure it’s correct and up to date<br>
                            •&nbsp;Request a copy of your personal information or ask us to restrict processing of or delete it<br>
                            •&nbsp;Object to our continued processing of your personal information
                            <br>
                            <br>
                            If you’re not happy with how we are processing your personal information, you have the right to complain to your local information protection authority. Your local data protection authority will be able to give you more information on how to submit a complaint.<br>
                            <br>
                            <u>Cookies and Advertising</u><br>
                            You may opt out of receiving cookies by instructing your browser to stop accepting cookies or to prompt you before accepting a cookie from websites you visit, by changing your browser options.
                            <br>
                            <br>
                            You also can learn more about cookies by visiting www.allaboutcookies.org, which includes useful information on cookies and how to block cookies on different types of browsers and mobile devices.
                            <br>
                            <br>
                            Please note, however, that by blocking or deleting cookies used in Services, you may not be able to use all aspects of our Services.
                         </p>
                           
                            
                       
                        <br>
                        <h4>Children’s use of the services</h4>
                        <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                          Services are not directed to individuals under 16. We do not knowingly collect personal information from children under 16. If we become aware that a child under 16 has provided us with personal information, we will take steps to delete such information. If you become aware that a child has provided us with personal information, please contact us at the address listed below.
                        </p>
                        <br>
                        <h4>Security</h4>
                        <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                          We have adopted technical, administrative and physical procedures to collect, manage, maintain and store information in a manner designed to help protect your information from loss, misuse, unauthorized access, and alteration. Unfortunately, no security system is impenetrable and due to the inherent nature of the Internet as an open global communications, we cannot guarantee that information, during transmission through the Internet or while stored on our systems or otherwise in our care, will be absolutely safe from intrusion by others, such as hackers.
                          <br>
                          <br>
                          Where data is transferred over the Internet as part of the Services, the data is encrypted using industry standard TLS (HTTPS).
                        </p>
                        <br>
                        <h4>Updates to our privacy policy</h4>
                        <p class="g-mt-10 g-font-size-16--md g-font-size-20">
                          Intervision.co reserves the right to change this Privacy Policy from time to time, and if we do, we will post any changes on this page. Intervision.co will make every effort to communicate any significant changes to you directly. Your continued use of the Services will be deemed acceptance of any updated policy.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>