    

    <div class="wrapper fade-in">
            <section class="parallax-partner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center g-color-white g-py-210">
                            <p><u>PARTNER PROGRAM</u></p>
                            <h1><?=$lang['label_partner_group1']?></h1>
                            <p class="g-font-size-28--md g-font-size-18"><?=$lang['label_partner_group2']?></p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container g-py-150--lg g-py-80">
                    <div class="row g-py-50--md g-py-0 dis-fix" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-6 col-md-6 col-sm-12 order-1">
                            <img src="<?=$BASEURL?>/assets/images/value-services-and-solutions.jpg" class="img-responsive" alt="We value the services and solutions" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 margin-bottom-top order-2">
                            <h3 class="g-font-bold">We value the services and solutions</h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18"><?=$lang['label_partner_group3']?></p>
                        </div>
                    </div>
                    <div class="row g-py-50--md g-py-0 dis-fix" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-6 col-md-6 col-sm-12 margin-bottom-top order-2">
                            <h3 class="g-font-bold">
                                Inter Vision Partner program lets you earn <br />
                                incentives for bringing new business
                            </h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18"><?=$lang['label_partner_group4']?></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 order-1">
                            <img src="<?=$BASEURL?>/assets/images/inter-vision-partner-program.jpg" class="img-responsive" alt="Inter Vision Partner program" />
                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-3 g-py-100--lg g-py-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-xs-12 order-1">
                            
                            <img src="<?=$BASEURL?>/assets/images/dedicated-teams.png" class="img-responsive position-partner hidden-xs hidden-sm" alt="Dedicated teams" />
                             <img src="<?=$BASEURL?>/assets/images/dedicated-teams.png" class="img-responsive visible-xs visible-sm" alt="Dedicated teams" />
                           
                        </div>
                        <div class="col-lg-5 col-md-6 col-xs-12 margin-bottom-top-partner order-2">
                            <h3 class="g-font-bold">
                                Our dedicated teams help you learn, <br />
                                grow and enhance our respective <br />
                                businesses for a rewarding and profitable relationship.
                            </h3>
                            <br />
                            <div class="hidden-xs hidden-sm">
                                <p class="g-font-size-25--md g-font-size-18">
                                   <?=$lang['label_partner_group5']?>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container g-py-100--lg g-py-80">
                    <div class="row">
                        <h1 class="g-font-weight-700 text-center g-pb-50"><?=$lang['label_partner_topic']?></h1>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 g-pa-50--md g-px-0--md g-px-0 g-height-15vh">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="80">
                                            <img src="<?=$BASEURL?>/assets/images/existing-clients.png" class="img-responsive hvr-wobble-vertical" alt="Existing Clients" />
                                           
                                        </td>
                                        <td>
                                            <p class="g-font-size-25--md g-font-size-18"><?=$lang['label_partner_group6']?></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 g-pa-50--md g-px-0--md g-px-0 g-height-15vh">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="80">
                                           <img src="<?=$BASEURL?>/assets/images/business-technology-consultants.png" class="img-responsive hvr-wobble-vertical" alt="Business & Technology Consultants" />
                                        </td>
                                        <td>
                                            <p class="g-font-size-25--md g-font-size-18"><?=$lang['label_partner_group7']?></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 g-pa-50--md g-px-0--md g-px-0 g-height-15vh">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="80">
                                            <img src="<?=$BASEURL?>/assets/images/business-advisors.png" class="img-responsive hvr-wobble-vertical" alt="Business Advisors" />
                                        </td>
                                        <td>
                                            <p class="g-font-size-25--md g-font-size-18"><?=$lang['label_partner_group8']?></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 g-pa-50--md g-px-0--md g-px-0 g-height-15vh">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="80">
                                             <img src="<?=$BASEURL?>/assets/images/digital-agency.png" class="img-responsive hvr-wobble-vertical" alt="Digital Agency" />
                                        </td>
                                        <td>
                                            <p class="g-font-size-25--md g-font-size-18"><?=$lang['label_partner_group9']?></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 g-pa-50--md g-px-0--md g-px-0 g-height-15vh">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="80">
                                            <img src="<?=$BASEURL?>/assets/images/technology-development.png" class="img-responsive hvr-wobble-vertical" alt="Technology & Development" />
                                        </td>
                                        <td>
                                            <p class="g-font-size-25--md g-font-size-18"><?=$lang['label_partner_group10']?></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 g-pa-50--md g-px-0--md g-px-0 g-height-15vh">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="80">
                                            <img src="<?=$BASEURL?>/assets/images/marketing-sales.png" class="img-responsive hvr-wobble-vertical" alt="Marketing & Sales" />
                                        </td>
                                        <td>
                                            <p class="g-font-size-25--md g-font-size-18"><?=$lang['label_partner_group11']?></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
           <section id="bg-section5">
                <div class="container " id="contact">
                    <div class="row g-my-100--md g-my-50">
                        <div class="col-md-7" data-aos="zoom-in-right" data-aos-duration="1000">
                            >
                            <img class="img-responsive hidden-xs hidden-sm" src="<?=$BASEURL?>/assets/images/contact-intervision.png" alt="Contact Intervision" />
                        </div>
                        <div class="col-md-5 col-sm-6 col-sm-offset-3 col-md-offset-0" data-aos="zoom-in-left" data-aos-duration="1000">
                            >
                            <h1 class="g-color-white g-mb-50 g-line-height-1_3 g-font-weight-700 g-font-size-42--lg g-font-size-36 text-sm-center text-xs-center">
                                <span class=""> Get in Touch </span><br />
                                with
                                <span class="g-color-blue">Our Team</span>
                            </h1>
                            <form id="FormAdd" action="setmail.php" method="post" name="fm_data">
                                <label for="name" class="inp">
                                    <input class="g-bg-white" type="text" name="name" placeholder="&nbsp;" required />
                                    <span class="label">Name</span>
                                    <span class="border">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </label>

                                <label for="company" class="inp">
                                    <input class="g-bg-white" type="email" name="email" placeholder="&nbsp;" required />
                                    <span class="label">Email</span>
                                    <span class="border">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </label>

                                <label for="phone" class="inp">
                                    <input class="g-bg-white" type="text" name="phone" placeholder="&nbsp;" required />
                                    <span class="label">Phone</span>
                                    <span class="border">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </label>

                                <label for="messages" class="inp">
                                    <textarea class="g-bg-white" type="text" placeholder="&nbsp;" name="messages" required></textarea>
                                    <span class="label">Your Message</span>
                                    <span class="border">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </label>
                                <button type="submit" class="btn btn-lg g-bg-bluegray-gradient-opacity-v1 g-mb-50 g-font-size-20 g-width-100x g-color-white letter-spacing-2" data-toggle="modal" data-target="#success">SEND</button>
                            </form>
                            <!-- <a href="#" class="btn btn-lg g-bg-bluegray-gradient-opacity-v1 g-font-size-20 g-width-100x g-color-white letter-spacing-2">SEND</a> -->
                        </div>
                    </div>
                </div>
                <div class="container-fluid visible-xs visible-sm g-px-0">
                    <div class="col-xs-12 col-sm-12">
                        <img class="img-responsive" src="<?=$BASEURL?>/assets/images/contact-intervision-mobile.png" alt="Contact Intervision Mobile Version" />
                    </div>
                </div>
            </section>
        </div>
        