 <header class="main-header">
        <!-- Logo -->
        <a href="#/dashboard/" class="logo" style="padding-left:  10px;">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">P</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg" style="text-align: left;">Intervision Admin</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
             
              <li class="messages-menu">
                <a href="javascript:;" class="">
                  <i class="fa fa-clock-o"></i> <span class="text-white" id="the_time"><?=date('d/m/Y H:i')?></span>
                </a>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- <img src="<?=$BASEURL?>/uploads/userthumbnail/<?=$memberinfo['user_thumb']?>" class="user-image" alt="User Image"/> -->
                  <img src="<?=$BASEURL?>/uploads/userthumbnail/default.jpg" class="user-image" alt="User Image"/>
                  <span class="hidden-xs"><?=$memberinfo['user_name']?></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <!-- <img src="<?=$BASEURL?>/uploads/userthumbnail/<?=$memberinfo['user_thumb']?>" class="img-circle" alt="User Image" /> -->
                    <img src="<?=$BASEURL?>/uploads/userthumbnail/default.jpg" class="img-circle" alt="User Image" />
                    <p>
                      <?=$memberinfo['user_name']?> <br /> <?=$memberinfo['role_name']?>
                      <small>Member since <?=$memberinfo['user_start_date']?></small>
                    </p>
                  </li>
                  
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <!-- <div class="pull-left">
                      <a href="#/user/profile/" class="btn btn-default btn-flat">Profile</a>
                      
                    </div> -->
                    <div class="pull-right">
                      <a href="<?=$BASEURL?>/logout" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <!--<li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>-->
            </ul>
          </div>
        </nav>
      </header>