<section class="content-header">
 
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
    <div class="col-md-12">
   		<div class="row">
     		<div class="col-sm-12" style="margin-top: 150px;">
		      <h1 style="text-align: center;">Welcome to <?=$TITLE?></h1>
				</div>
			</div>
		</div>
	</div>         
</section>

<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Profile</h4>
      </div>
      <div class="modal-body" id="profileBody">
        ...
      </div>
      
    </div>
  </div>
</div>

