<section class="content-header">
  <h1>
    รายการ Social
    <small>จัดการรายการ Social</small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">รายการ Social</h3>
			  <div class="pull-right">
			  <?php if($button_edit){ ?>
			  	<a href="#/setting/createsocial/" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> เพิ่มหัวข้อใหม่</a>
			  <?php } ?>
			  </div>
			  
			</div>
			<div class="box-body table-responsive">
				<div style="margin-bottom: 20px;">
                    <form class="form-horizontal" id="clearFrm" name="clearFrm">
						<input type="hidden" name="mode" value="clearSocial">
					</form>
					<form class="form-horizontal" id="searchFrm" name="searchFrm">
					<input type="hidden" name="mode" value="searchSocialList"/>
                    <div class="col-sm-5 ">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">หัวข้อ </label>
	                      <div class="col-sm-9">                       
		                      <input type="text" class="form-control " name="social_name" placeholder="หัวข้อ" value="<?=$SESSION['social']['social_name']?>">
	                      </div>
	                    </div>
                    </div>
                    <div class="col-sm-5 ">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label"><?=$lang->_status?></label>
	                      <div class="col-sm-9">
	                       <select class="form-control" id="active_status" name="active_status">
	                       			<option value="">All</option>
		                      		<option value="O" <?php if($SESSION['social']['active_status']=='O'){ ?>selected=""<?php } ?>><?=$lang->_active?></option>
		                      		<option value="C" <?php if($SESSION['social']['active_status']=='C'){ ?>selected=""<?php } ?>><?=$lang->_inactive?></option>
		                      	</select>
	                      </div>
	                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 text-center">
                    	<button type="button" class="btn btn-warning " onclick="clearSocaillist();">Reset</button>
                    	<button type="button" class="btn btn-primary " onclick="searchSocaillist();">Search</button>
                    </div>
                    </form>
                    <div class="clearfix"></div>
               </div>
			   <table id="example1" class="table table-bordered table-striped" >
                    <thead>
                      <tr>
                    	<th><?=$lang->_sort?></th>
                        <th>หัวข้อ</th>
                        <th>ลิงค์</th>
                        <th><?=$lang->_status?></th>
                        <th><?=$lang->_update?></th>
                        <th><?=$lang->_action?></th>
                      </tr>
                    </thead>
                    <?php foreach($categoryList as $list){ ?>
                    	<tr>
                    		<td width="10%">
                    			<input type="text" data-id="<?=$list['social_id']?>" onchange="sortSociallist(this);" class="form-control input-xs text-center" onkeypress="numberonly(event);" value="<?=$list['social_sort']?>" />
                    		</td>
                    		<td>
                    			<span class="fa fa-<?=$list['social_icon']?>"></span> &nbsp;&nbsp;
                    			<?=$list['social_name']?>
                    		</td>
                    		<td>
                    			<?=$list['social_link']?>
                    		</td>
                    		<td align="center">
                    			<?php $new_status='C'; ?>
                    			<?php if($list['active_status']=='C'){ ?>
                    			<span class="text-red"><?=$lang->_inactive?></span>
                    			<?php $new_status='O'; } ?>
                    			<?php if($list['active_status']=='O'){ ?>
                    			<span class="text-green"><?=$lang->_active?></span>
                    			<?php } ?>
                    			<br />
                    			<button class="btn btn-flat btn-default btn-xs" data-id="<?=$list['social_id']?>" data-status="<?=$new_status?>" onclick="setSocialStatus(this);"><i class="fa fa-refresh"></i></button>
                    		</td>
                    		<td align="center">
                    			<?=date("d-m-Y",strtotime($list['update_dtm']))?><br />
                    			<?=date("H:i:s",strtotime($list['update_dtm']))?>
                    		</td>
                    		<td align="center">
                    			<a href="#/setting/editsociallist/<?=$list['social_id']?>/" class="btn btn-flat btn-success btn-sm"><i class="fa fa-edit"></i></a>
                    			<button type="button" onclick="deleteSocialList('<?=$list['social_id']?>');" class="btn btn-flat btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                    		</td>
                    	</tr>
                    <?php } ?>
                    <tfoot>
                      <tr>
                        <th><?=$lang->_sort?></th>
                        <th>หัวข้อ</th>
                        <th>ลิงค์</th>
                        
                        <th><?=$lang->_status?></th>
                        <th><?=$lang->_update?></th>
                        <th><?=$lang->_action?></th>
                      </tr>
                    </tfoot>
                  </table>
                  <nav class="pull-right" style="margin-right: 3%;">
					  <ul class="pagination pagination-md">
					    <?php for($i=1;$i<=$allPage;$i++){ ?>
					    <li <?php if($currpage==$i){ ?>class="active"<?php } ?>><a href="#/setting/social/?page=<?=$i?>"><?=$i?></a></li>
					    <?php } ?>

					  </ul>
					</nav>
			</div>
			
			</div>
		</div>
	</div>
          
</section>

