<section class="content" >

          <div class="error-page" style="margin-top: 5%;">
            <h2 class="headline text-yellow"> Access Denied</h2>
            <div class="clearfix"></div>
            <div class="error-content" style="padding-top: 3%;width: 100%;margin-left: 0px;">
              <h3><i class="fa fa-warning text-yellow"></i> Oops! You can't access this page.</h3>
              <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="#/dashboard/">return to dashboard</a> or try using the search form.
              </p>
              
            </div><!-- /.error-content -->
          </div><!-- /.error-page -->
        </section><!-- /.content -->