 <!-- Footer -->
        <footer class="page-footer g-py-70 hidden-xs hidden-sm">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-6 ">
                <a href="<?=$WEBURL?>"><h4 class="g-font-bold g-my-20 g-color-blue g-font-size-16--md g-font-size-12"><?=$lang['label_home']?></h4></a>
                <a href="<?=$WEBURL?>/news"><h4 class="g-font-bold g-my-20 g-color-blue g-font-size-16--md g-font-size-12"><?=$lang['label_news']?></h4></a>
               <!--  <a href="<?=$WEBURL?>/comingsoon"><h4 class="g-font-bold g-my-20 g-color-blue g-font-size-16--md g-font-size-12">Testimonial</h4></a> -->
                <a href="<?=$WEBURL?>/about-us"><h4 class="g-font-bold g-my-20 g-color-blue g-font-size-16--md g-font-size-12"><?=$lang['label_about']?></h4></a>
                <a href="<?=$WEBURL?>/partner"><h4 class="g-font-bold g-my-20 g-color-blue g-font-size-16--md g-font-size-12"><?=$lang['label_partner']?></h4></a>
              </div>
             
              <div class="col-md-3 col-sm-6 col-xs-6">
                <h4 class="g-font-bold g-color-blue g-font-size-16--md g-font-size-12"><?=$lang['label_services']?> </h4>
                <p class="g-line-height-2 g-font-size-15--md g-font-size-12">
                  <a href="<?=$WEBURL?>/services/1/Digital-Transformation-Consultant-Service" class="g-color-black-1">Digital Transformation Consultant Service</a> <br>
                  <a href="<?=$WEBURL?>/services/2/web-development-for-branding" class="g-color-black-1">Web Development for Branding</a> <br>
                  <a href="<?=$WEBURL?>/services/3/e-commerce-web-development" class="g-color-black-1">E-Commerce Web Development</a> <br>
                  <a href="<?=$WEBURL?>/services/4/pos-sales-system-development" class="g-color-black-1">POS Sales System Development</a> <br>
                  <a href="<?=$WEBURL?>/services/5/stock-warehouse-management-system" class="g-color-black-1"> Stock/Warehouse Management System</a> <br>
                  
                </p>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-6">
                <h4 class="">&nbsp;</h4>
                <p class="g-line-height-2 g-font-size-15--md g-font-size-12">
                  <a href="<?=$WEBURL?>/services/6/customer-loyalty-rewards-system" class="g-color-black-1"> Customer Loyalty & Rewards System</a><br>
                  <a href="<?=$WEBURL?>/services/7/online-booking-system" class="g-color-black-1">  Online Booking System</a><br>
                  <a href="<?=$WEBURL?>/services/8/online-e-learning-training-system" class="g-color-black-1"> Online E-Learning/Training System</a><br>
                  <a href="<?=$WEBURL?>/services/9/school-management-system" class="g-color-black-1"> School Management System</a><br>
                  <a href="<?=$WEBURL?>/services/10/email-marketing-system" class="g-color-black-1"> E-mail Marketing System</a><br>


                  
                </p>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-6">
                <h4 class="g-font-bold g-color-blue g-font-size-16--md g-font-size-12"><?=$lang['label_contact']?></h4>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-envelope g-mr-20" aria-hidden="true"></i><span><a class="g-font-size-15--md g-font-size-12">admin@intervision.co</a></span>
                  </li>
                  <li>
                    <i class="fa fa-phone g-mr-20" aria-hidden="true"></i><span><a class="g-font-size-15--md g-font-size-12" href="tel:092-681-3939">02-017-7775, 092-681-3939,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;080-526-4515</a></span>
                  </li>
                  <li>
                    <img class="g-mr-10" src="<?=$BASEURL?>/assets/images/icon-navbar/icon-line.webp" style="width: 8%;"><span><a class="g-font-size-15--md g-font-size-12">@intervision</a></span>
                  </li>
                  <li class="g-flex g-mt-50">
                    <a target="_blank" href="https://www.facebook.com/intervisionbusiness/">
                      <img class="img-responsive g-mr-20" src="<?=$BASEURL?>/assets/images/icon-navbar/facebook.svg" alt="Intervision Facebook Fan Page" style="width: 40px;">
                    </a>
                     <a target="_blank" href="https://lin.ee/66bLl22">
                      <img class="img-responsive g-mr-20" src="<?=$BASEURL?>/assets/images/icon-navbar/line.svg" alt="Intervision Line Official Account" style="width: 40px;">
                    </a>
                    <a target="_blank" href="https://intervisionbusiness.blogspot.com/">
                      <img class="img-responsive g-mr-20" src="<?=$BASEURL?>/assets/images/icon-navbar/Blogger-icon.webp" alt="Intervision Blogger" style="width: 40px;">
                    </a>
                    <a target="_blank" href="https://medium.com/@intervision">
                      <img class="img-responsive g-mr-20" src="<?=$BASEURL?>/assets/images/icon-navbar/medium+icon.webp" alt="Intervision Medium" style="width: 40px;">
                    </a>
                    <!-- <img class="img-responsive" src="<?=$BASEURL?>/assets/images/icon-navbar/you.svg" style="width: 40px;"> -->
                  </li>
                </ul>
              </div>

              <div class="col-md-12">
                  <hr>
              </div>
            </div>
          </div>

          <!-- Copyright -->
          <div class="footer-copyright">
            <div class="container">
              <div class="row g-mt-30">
                <div class="col-md-6 col-sm-12 col-xs-12  text-xs-center">
                  © 2020  
                  <label class="g-color-blue" >Inter Vision Business Groups Co., Ltd.</label>
                  All Rights Reserved.
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-right text-xs-center text-sm-center ">
                  <a class="g-color-black-1" href="<?=$WEBURL?>/privacy">Privacy Policy  </a><span>|</span>
                  <a class="g-color-black-1" href="<?=$WEBURL?>/terms">Terms & Conditions</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Copyright -->

        </footer>
<!-- end Footer -->



<!-- Footer mobile -->
        <footer class="page-footer  g-py-20 visible-xs visible-sm">
          <div class="container">
            
            <div class="row ">
              <table class="m-auto">
                <tbody>
                  <tr>
                    <td>
                      <a href="https://www.facebook.com/intervisionbusiness/" target="_blank">
                          <img class="img-responsive " src="<?=$BASEURL?>/assets/images/icon-navbar/facebook.svg" alt="Intervision Facebook Fan Page
" style="width: 50px;">
                      </a>
                     <!--  <td>
                          <img class="img-responsive " src="assets/images/icon-navbar/youtube.png">
                      </td> -->
                    </td>
                      <td>
                         <a target="_blank" href="https://lin.ee/66bLl22">
                            <img class="img-responsive " src="<?=$BASEURL?>/assets/images/icon-navbar/line.svg" alt="Intervision Line Official Account
" style="width: 50px;">
                          </a>
                      </td>
                      <td>
                        <a href="Mailto:admin@intervision.co">
                          <img class="img-responsive "  src="<?=$BASEURL?>/assets/images/icon-navbar/mail.svg" style="width: 50px;">
                        </a>
                      </td>
                      <td>
                        <a href="tel:092-681-3939">
                          <img class="img-responsive "  src="<?=$BASEURL?>/assets/images/icon-navbar/tell.svg" style="width: 50px;">
                        </a>
                      </td>
                   
                     <td>
                        <a target="_blank" href="https://intervisionbusiness.blogspot.com/">
                          <img class="img-responsive g-mr-20" src="<?=$BASEURL?>/assets/images/icon-navbar/Blogger-icon.png" alt="Intervision Blogger
" style="width: 50px;">
                        </a>
                      </td>
                      <td>
                        <a target="_blank" href="https://medium.com/@intervision">
                          <img class="img-responsive g-mr-20" src="<?=$BASEURL?>/assets/images/icon-navbar/medium+icon.png" alt="Intervision Medium
" style="width: 50px;">
                        </a>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
            <!-- Copyright -->
                <div class="footer-copyright">
                  <div class="container">
                    <div class="row g-mt-30">
                      <div class=" col-sm-12 col-xs-12  text-center">
                        © 2020  
                        <label class="g-color-blue" >Inter Vision Business Groups Co., Ltd.</label>
                        <br>All Rights Reserved.
                      </div>
                    </div>
                  </div>
                </div>
            <!-- Copyright -->
        </footer>

<!-- end Footer mobile -->
