 <div class="wrapper fade-in">
            <section>
                <div class="container g-py-70--lg g-py-0">
                    <div class="row g-py-50" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12  ">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_services']?> 
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                                 POS Sales 
                                System Development
                            </h1>
                            <p class="g-font-size-16--md g-font-size-16 g-mt-30--md g-mt-0"> 
                              <?=$lang['label_SV_POS_topic1']?> 
                           </p>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 g-px-0">
                            <img src="<?=$BASEURL?>/assets/images/services/POS-Sales-System-Development.png" alt="POS Sales System Development" class="img-responsive " />
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row g-py-100--md g-py-50">
                        <div class="col-md-12 text-center">
                            <h1 class="g-font-weight-700">
                                <?=$lang['label_SV_POS_topic2']?> 
                            </h1>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row g-mb-150">
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/fast-accurate-billing.jpg" class="img-responsive" alt="Fast & Accurate Billing" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_POS_groub1']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                              <?=$lang['label_SV_POS_groub1-1']?>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/stock-management.jpg" class="img-responsive" alt="Stock Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_POS_groub2']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_POS_groub2-2']?>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/customer-relation-management.jpg" class="img-responsive" alt="Customer Relation Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_POS_groub3']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_POS_groub3-3']?>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/streamlined-purchasing.jpg " class="img-responsive" alt="Streamlined Purchasing" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_POS_groub4']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_POS_groub4-4']?>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/exhaustive-reports.jpg" class="img-responsive" alt="Exhaustive Reports" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_POS_groub5']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_POS_groub5-5']?>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/mobile-tablet-access.jpg" class="img-responsive" alt="Mobile/Tablet Access" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_POS_groub6']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_POS_groub6-6']?>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <?php include('section.htm'); ?>
        </div>