        <div class="wrapper fade-in">
            <section>
                <div class="container g-py-70--lg g-py-0">
                    <div class="row g-py-50" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12  ">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_services']?> 
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                                Digital Transformation <br />
                                Consultant Service<br />
                            </h1>
                            <p class="g-font-size-16--md g-font-size-16 g-mt-30--md g-mt-0">Set the path of transformation from physical to digital.</p>
                            
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 g-px-0">
                            <img src="<?=$BASEURL?>/assets/images/services/Digital-Transformation-Consultant-Service.png" class="img-responsive " alt="Digital Transformation Consultant Service"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-top order-2" data-aos="fade-right" data-aos-duration="1000">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="30" class="hidden-xs hidden-sm">
                                            <img src="<?=$BASEURL?>/assets/images/services/line-Digital.png" class="img-responsive" alt="Line Digital" />
                                        </td>
                                        <td>
                                            <div class="g-font-bold g-font-size-25--md g-font-size-18 g-mb-15 ">
                                              <?=$lang['label_SV_digital1']?> 
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row hidden-xs hidden-sm">
                        <div class="col-md-12 col-sm-12 text-center">
                            <h2 class="g-font-weight-700"><?=$lang['label_SV_digital_topic']?> </h2>
                        </div>
                       <!--  <div class="col-md-12 col-sm-12 text-center g-my-50" data-aos="fade-up" data-aos-duration="1000">
                            <img src="<?=$BASEURL?>/assets/images/show/services/business-transformation.jpg" class="img-responsive" alt="Business Transformation" />
                        </div> -->
                         <div class="col-md-4 col-sm-4   g-my-50" data-aos="fade-up" data-aos-duration="1000">
                            <div class="text-right">
                                <h4 class="g-line-height-1_6 text-right"><?=$lang['label_SV_digital_topic1']?> 
                                </h4>
                            </div>
                            <div  class="text-right">
                                <h4 class="g-line-height-1_6 text-right" style=" right: 6%;position: absolute;top: 278px;">
                                  <?=$lang['label_SV_digital_topic3']?> 
                                </h4>
                            </div>
                            <div  class="text-right">
                                <h4 class="g-line-height-1_6 text-right" style=" right: 6%;position: absolute;
                                    top: 52rem;"><?=$lang['label_SV_digital_topic5']?> 
                                </h4>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 text-center g-my-50" data-aos="fade-up" data-aos-duration="1000">
                            <img src="<?=$BASEURL?>/assets/images/services/business-transformation.png" class="img-responsive" alt="Business Transformation" />
                        </div>
                        <div class="col-md-4 col-sm-4  g-my-50" data-aos="fade-up" data-aos-duration="1000">
                            <h4 class="g-line-height-1_6" style="position: absolute;
                                top: 145px;"><?=$lang['label_SV_digital_topic2']?> </h4>
                            <h4 class="g-line-height-1_6" style="    position: absolute;
                            top: 39rem;"><?=$lang['label_SV_digital_topic4']?> </h4>
                        </div>
                    </div>

                     <div class="row visible-xs visible-sm">
                        <div class="col-md-12 col-sm-12 text-center">
                            <h2 class="g-font-weight-700 g-my-80"><?=$lang['label_SV_digital_topic']?> </h2>
                        </div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="<?=$BASEURL?>/assets/images/services/business-transformation-sm-step1.jpg" class="img-responsive" alt="Business Transformation Mobile" />
                                    </td>
                                    <td>
                                        <h4 class="g-line-height-1_6 g-mt-100"><?=$lang['label_SV_digital_topic1']?> </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="g-line-height-1_6 g-mt-100"><?=$lang['label_SV_digital_topic2']?> </h4>
                                    </td>
                                    <td>
                                        <img src="<?=$BASEURL?>/assets/images/services/business-transformation-sm-step2.jpg" class="img-responsive" alt="Business Transformation Mobile" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="<?=$BASEURL?>/assets/images/services/business-transformation-sm-step3.jpg" class="img-responsive" alt="Business Transformation Mobile" />
                                    </td>
                                    <td>
                                        <h4 class="g-line-height-1_6 g-mt-100"><?=$lang['label_SV_digital_topic3']?> </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="g-line-height-1_6 g-mt-100"><?=$lang['label_SV_digital_topic4']?> </h4>
                                    </td>
                                    <td>
                                       <img src="<?=$BASEURL?>/assets/images/services/business-transformation-sm-step4.jpg" class="img-responsive" alt="Business Transformation Mobile" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="<?=$BASEURL?>/assets/images/services/business-transformation-sm-step5.jpg" class="img-responsive" alt="Business Transformation Mobile" />
                                    </td>
                                    <td>
                                       <h4 class="g-line-height-1_6 g-mt-100"><?=$lang['label_SV_digital_topic5']?> </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                       
                       <!--  <div class="col-md-12 col-sm-12 text-center g-my-50" data-aos="fade-up" data-aos-duration="1000">
                            <img src="<?=$BASEURL?>/assets/images/show/services/business-transformation.jpg" class="img-responsive" alt="Business Transformation" />
                        </div> -->
                        
                    </div>
                </div>
            </section>
           

            <?php include('section.htm'); ?>

        </div>