        <div class="wrapper fade-in">
            <section>
                <div class="container g-py-70--lg g-py-0">
                    <div class="row g-py-50" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12  ">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_services']?> 
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                                 Web Development <br />
                                for Branding
                            </h1>
                             <p class="g-font-size-16--md g-font-size-16 g-mt-30--md g-mt-0 hidden-xs hidden-sm">
                                         The perfect start of your future website. <br />
                                        Optimized for any devices. SEO Friendly.
                            </p>
                            <p class="g-font-size-16--md g-font-size-16 visible-xs visible-sm"> 
                                The perfect start of your future website. <br />
                                Optimized for any devices. SEO Friendly.</p>
                            
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 g-px-0">
                            <img src="<?=$BASEURL?>/assets/images/services/Web-Development-for-Branding.png" class="img-responsive " alt="Web Development for Branding" />
                        </div>
                    </div>
                    <div class="row g-py-50--md g-py-0">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center g-font-weight-700 position-development"><?=$lang['label_SV_web_detail1']?></h1>
                            <img src="<?=$BASEURL?>/assets/images/services/website.jpg" class="img-responsive g-width-100x g-my-100" alt="Website" />
                        </div>
                    </div>
                    <div class="row dis-fix">
                        <div class="col-md-5 col-sm-12 col-xs-12 margin-bottom-top text-lg-left text-center order-2">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="30">
                                            <img src="<?=$BASEURL?>/assets/images/services/line-Web.png" class="img-responsive hidden-xs hidden-sm" alt="Line Web" />
                                        </td>
                                        <td>
                                            <div class="g-font-bold g-font-size-25--md g-font-size-18">
                                                <?=$lang['label_SV_web_detail2']?> 
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12 order-1" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/latest-innovation.png" class="img-responsive g-width-60x margin-left-right" alt="Latest Innovation"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/responsive-web.png" class="img-responsive g-width-60x margin-left-right" alt="Responsive Web" />
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12 g-my-150--md g-my-80 text-lg-left text-center">
                            <div class="g-font-size-35--md g-font-size-18">
                                <span class="g-font-bold"><?=$lang['label_SV_web_detail41']?></span><br />
                                <span class="g-color-blue g-font-bold"><?=$lang['label_SV_web_detail42']?>&nbsp;</span><?=$lang['label_SV_web_detail43']?>
                            </div>
                        </div>

                    </div>
                    <div class="row dis-fix">
                        <div class="col-md-5 col-sm-12 col-xs-12 g-mt-165--md g-mt-0 order-2 g-mb-50">
                            <div class="g-font-size-35--md g-font-size-18 g-font-bold text-center">
                                <?=$lang['label_SV_web_detail3']?> 
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12 order-1" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/seo-friendly.png" class="img-responsive" alt="SEO Friendly" />
                        </div>
                    </div>
                </div>
            </section>
            <section class="parallax">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-lg-offset-3 col-md-12 g-mt-165--md g-mt-150 g-font-size-25--md g-font-size-18"><b><?=$lang['label_SV_web_detail5']?></b>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-4 deve-bg" >
              <div class="container aos-init aos-animate" data-aos="zoom-in">
                <div class="text-center">
                  <h5 class="g-color-white g-letter-spacing-6">Customized Web Development for Branding </h5>
                  <h2 class="g-color-white g-font-bold text-shadow2">Starting from $2,000 USD (60,000 Baht)</h2>
                  <!-- <a class="deve scrollto g-mt-50" href="{{url()}}"></a> -->
                </div>
              </div>
            </section>
            <?php include('section.htm'); ?>
        </div>