 <div class="wrapper fade-in">
            <section>
                <div class="container g-py-70--lg g-py-0">
                    <div class="row g-py-50" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12  ">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_services']?> 
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                               Stock/Warehouse Management System<br />
                            </h1>
                            <p class="g-font-size-16--md g-font-size-16 g-mt-30--md g-mt-0 hidden-xs hidden-sm">
                                Warehouse management software offers tools, processes, <br />
                                and best practices that allow businesses to get on top <br />
                                of administering warehouse operations.
                            </p>
                            <p class="g-font-size-18 visible-xs visible-sm">
                                Warehouse management software offers tools, <br />
                                processes, and best practices that allow <br />
                                businesses to get on top of <br />
                                administering warehouse operations.
                            </p>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 g-px-0">
                            <img src="<?=$BASEURL?>/assets/images/services/Stock-Warehouse-Management-System.png" class="img-responsive " alt="Store Warehouse Management System" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-top order-2" data-aos="fade-right" data-aos-duration="1000">
                            <table>
                                <tbody>
                                    <tr>
                                        <td width="30" class="hidden-xs hidden-sm">
                                            <img src="<?=$BASEURL?>/assets/images/services/line-stock.png" class="img-responsive" />
                                        </td>
                                        <td>
                                            <div class="g-font-bold g-font-size-25--md g-font-size-18 g-mb-15 hidden-xs hidden-sm">
                                                The goal of warehouse management software is to automate, streamline, and simplify <br />
                                                warehouse tasks and activities in a largely digital and paperless environment.
                                            </div>
                                            <div class="g-font-bold g-font-size-25--md g-font-size-18 g-mb-15 visible-xs visible-sm">
                                                The goal of warehouse management software is to automate, streamline, and simplify warehouse tasks and activities in a largely digital and paperless environment.
                                            </div>
                                            <p class="g-font-size-16--md g-font-size-16">
                                               <?=$lang['label_SV_stock_groub1']?> 
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row g-pa-50--md g-pa-0">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center g-height-20vh">
                            <img src="<?=$BASEURL?>/assets/images/services/icon-features-stock-1.png" class="hvr-float-shadow" alt="Warehouse System Design" />
                            <p class="g-font-bold g-font-size-25--md g-font-size-18 g-mt-20 "><?=$lang['label_SV_stock_groub2']?> </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center g-height-20vh">
                            <img src="<?=$BASEURL?>/assets/images/services/icon-features-stock-2.png" class="hvr-float-shadow" alt="Inventory Management" />
                            <p class="g-font-bold g-font-size-25--md g-font-size-18 g-mt-20 "><?=$lang['label_SV_stock_groub3']?> </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center g-height-20vh">
                            <img src="<?=$BASEURL?>/assets/images/services/icon-features-stock-3.png" class="hvr-float-shadow" alt="Order Fulfillment Management" />
                            <p class="g-font-bold g-font-size-25--md g-font-size-18 g-mt-20 ">
                               <?=$lang['label_SV_stock_groub4']?> 
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center g-height-20vh">
                            <img src="<?=$BASEURL?>/assets/images/services/icon-features-stock-4.png" class="hvr-float-shadow" alt="Labor Management" />
                            <p class="g-font-bold g-font-size-25--md g-font-size-18 g-mt-20 "><?=$lang['label_SV_stock_groub5']?> </p>
                        </div>
                          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center g-height-20vh fix-margin-left-140">
                            <img src="<?=$BASEURL?>/assets/images/services/icon-features-stock-5.png" class="hvr-float-shadow" alt="Tracking Capability" />
                            <p class="g-font-bold g-font-size-25--md g-font-size-18 g-mt-20 "><?=$lang['label_SV_stock_groub6']?> </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center g-height-20vh">
                            <img src="<?=$BASEURL?>/assets/images/services/icon-features-stock-6.png" class="hvr-float-shadow" alt="Analytics and Reporting" />
                            <p class="g-font-bold g-font-size-25--md g-font-size-18 g-mt-20 "><?=$lang['label_SV_stock_groub7']?> </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center g-height-20vh">
                            <img src="<?=$BASEURL?>/assets/images/services/icon-features-stock-7.png" class="hvr-float-shadow" alt="Backups and Integration" />
                            <p class="g-font-bold g-font-size-25--md g-font-size-18 g-mt-20 "><?=$lang['label_SV_stock_groub8']?> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12" data-aos="fade-right" data-aos-duration="1000">
                            <img src="<?=$BASEURL?>/assets/images/services/warehouse-management-tools.jpg" class="img-responsive" alt="Warehouse management tools" />
                        </div>
                        <div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="1000">
                            <div class="g-font-size-25--md g-font-size-18 g-my-150--md g-my-40 ">
                               <?=$lang['label_SV_stock_groub9']?> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-4 stock-bg" >
              <div class="container aos-init aos-animate" data-aos="zoom-in">
                <div class="text-center">
                  <h5 class="g-color-white g-letter-spacing-6">Customized Stock/Warehouse Management System Development</h5>
                  <h2 class="g-color-white g-font-bold text-shadow5">Starting from $12,000 USD (350,000 Baht)</h2>
                  <!-- <a class="deve scrollto g-mt-50" href="{{url()}}"></a> -->
                </div>
              </div>
            </section>

             <?php include('section.htm'); ?>
        </div>