 <div class="wrapper fade-in">
            <section>
                <div class="container g-py-70--lg g-py-0">
                     <div class="row g-py-50" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-md-6 col-sm-12 col-xs-12  ">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_services']?> 
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                                Online Booking System
                            </h1>
                           <p class="g-font-size-25--md g-font-size-16 g-mt-30--md g-mt-0">
                                <?=$lang['label_SV_booking_groub1']?> 
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 g-px-0">
                            <img src="<?=$BASEURL?>/assets/images/services/Online-Booking-System.png" class="img-responsive " alt="Online Booking System" />
                        </div>
                    </div>
                    <div class="row g-py-50--md g-py-0" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-1 col-md-1">
                            <img src="<?=$BASEURL?>/assets/images/show/img125--.jpg" class="img-responsive hidden-xs hidden-sm margin-left-right" />
                        </div>
                        <div class="col-lg-10 col-md-10">
                            <div class="row margin-bottom-top">
                                <div class="col-md-3 col-sm-6 col-xs-6 g-pa-20 g-height-20vh text-center">
                                    <img src="<?=$BASEURL?>/assets/images/services/icon-benefits-booking-1.png" class="img-responsive margin-left-right hvr-bounce-out" alt="Normalize all data" />
                                    <h5 class="g-line-height-1_5 g-font-bold"><?=$lang['label_SV_booking_groub2']?> </h5>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 g-pa-20 g-height-20vh text-center">
                                    <img src="<?=$BASEURL?>/assets/images/services/icon-benefits-booking-2.png" class="img-responsive margin-left-right hvr-bounce-out" alt="Eliminate redundant & manual work" />
                                    <h5 class="g-line-height-1_5 g-font-bold">
                                       <?=$lang['label_SV_booking_groub3']?> 
                                    </h5>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 g-pa-20 g-height-20vh text-center">
                                    <img src="<?=$BASEURL?>/assets/images/services/icon-benefits-booking-3.png" class="img-responsive margin-left-right hvr-bounce-out" alt="Streamline workflow" />
                                    <h5 class="g-line-height-1_5 g-font-bold"><?=$lang['label_SV_booking_groub4']?> </h5>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 g-pa-20 g-height-20vh text-center">
                                    <img src="<?=$BASEURL?>/assets/images/services/icon-benefits-booking-4.png" class="img-responsive margin-left-right hvr-bounce-out" alt="Evaluate individual channel performance" />
                                    <h5 class="g-line-height-1_5 g-font-bold">
                                        <?=$lang['label_SV_booking_groub5']?> 
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="1000">
                            <img src="<?=$BASEURL?>/assets/images/services/ticketing.jpg" class="img-responsive margin-left-right" alt="Ticketing" />
                        </div>
                        <div class="col-md-6 col-sm-12 margin-bottom-top" data-aos="fade-right" data-aos-duration="1000">
                            <h3 class="g-font-bold"><?=$lang['label_SV_booking_groub6']?> </h3>
                            <div class="g-font-size-25--md g-font-size-18">
                                <p>
                                   <?=$lang['label_SV_booking_groub6-1']?> 
                                </p>
                                <br />
                               <!--  <p>
                                    Easily promote your event on different platforms with auto- 
                                    generated URL Highly secured payment gateways will keep data
                                    safe and your compliance of ease.
                                </p> -->
                            </div>

                        </div>
                    </div>
                    <div class="row dis-fix">
                        <div class="col-md-6 col-sm-12 margin-bottom-top order-2" data-aos="fade-left" data-aos-duration="1000">
                            <h3 class="g-font-bold"><?=$lang['label_SV_booking_groub7']?></h3>
                            <div class="g-font-size-25--md g-font-size-18 ">
                              <?=$lang['label_SV_booking_groub7-1']?>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 order-1" data-aos="fade-right" data-aos-duration="1000">
                            <img src="<?=$BASEURL?>/assets/images/services/online-payment.jpg" class="img-responsive margin-left-right" alt="Online Payment" />
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row g-mb-50">
                        <div class="col-md-12">
                            <h2 class="g-font-bold g-my-20"><?=$lang['label_SV_booking_groub8']?></h2>
                            <br>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/services/one-on-one-booking.jpg" class="img-responsive " alt="One on One Booking" />
                            <h4 class="g-my-20 g-font-bold"><?=$lang['label_SV_booking_groub9']?></h4>
                            <ul class="g-font-size-25--md g-font-size-18 fix-text-usecase7">
                                <li><?=$lang['label_SV_booking_groub9-1']?></li>
                                <li><?=$lang['label_SV_booking_groub9-2']?></li>
                                <li><?=$lang['label_SV_booking_groub9-3']?></li>
                                <li><?=$lang['label_SV_booking_groub9-4']?></li>
                                <li><?=$lang['label_SV_booking_groub9-5']?>s</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/services/group-booking.jpg" class="img-responsive " alt="Group Booking" />
                            <h4 class="g-my-20 g-font-bold"><?=$lang['label_SV_booking_groub10']?></h4>
                            <ul class="g-font-size-25--md g-font-size-18 fix-text-usecase7">
                                <li><?=$lang['label_SV_booking_groub10-1']?></li>
                                <li><?=$lang['label_SV_booking_groub10-2']?></li>
                                <li><?=$lang['label_SV_booking_groub10-3']?>s</li>
                                <li><?=$lang['label_SV_booking_groub10-4']?></li>
                                <li><?=$lang['label_SV_booking_groub10-5']?>s</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/services/reservations-rentals.jpg" class="img-responsive " alt="Reservations & Rentals" />
                            <h4 class="g-my-20 g-font-bold"><?=$lang['label_SV_booking_groub11']?></h4>
                            <ul class="g-font-size-25--md g-font-size-18 fix-text-usecase7">
                                <li><?=$lang['label_SV_booking_groub11-1']?></li>
                                <li><?=$lang['label_SV_booking_groub11-2']?>o</li>
                                <li><?=$lang['label_SV_booking_groub11-3']?></li>
                                <li><?=$lang['label_SV_booking_groub11-4']?></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/services/service-appointment-booking-system.jpg" class="img-responsive " alt="Service Appointment Booking System" />
                            <h4 class="g-my-20 g-font-bold"><?=$lang['label_SV_booking_groub12']?></h4>
                            <ul class="g-font-size-25--md g-font-size-18 fix-text-usecase7">
                                <li><?=$lang['label_SV_booking_groub12-1']?></li>
                                <li><?=$lang['label_SV_booking_groub12-2']?></li>
                                <li><?=$lang['label_SV_booking_groub12-3']?>s</li>
                                <li><?=$lang['label_SV_booking_groub12-4']?></li>
                                <li><?=$lang['label_SV_booking_groub12-5']?></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-4 booking-bg" >
              <div class="container aos-init aos-animate" data-aos="zoom-in">
                <div class="text-center">
                  <h5 class="g-color-white g-letter-spacing-6">Customized Online Booking System Development</h5>
                  <h2 class="g-color-white g-font-bold text-shadow7">Starting from $7,500 USD (250,000 Baht)</h2>
                  <!-- <a class="deve scrollto g-mt-50" href="{{url()}}"></a> -->
                </div>
              </div>
            </section>

            <?php include('section.htm'); ?>
        </div>
