 <div class="wrapper fade-in">
            <section>
                <div class="container g-py-70--lg g-py-0">
                    <div class="row g-py-50" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12  ">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_services']?>
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                                School Management <br />
                                System
                            </h1>
                             <p class="g-font-size-25--md g-font-size-16 g-mt-30--md g-mt-0">
                                <?=$lang['label_SV_school_groub1']?>
                            </p>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 g-px-0">
                            <img src="<?=$BASEURL?>/assets/images/services/School-Management-System.png" class="img-responsive " alt="School Management System" />
                        </div>
                    </div>
                    <div class="row g-py-50--md g-py-0" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-1 col-md-1">
                            <img src="<?=$BASEURL?>/assets/images/services/line-school.jpg" class="img-responsive hidden-xs hidden-sm margin-left-right" alt="line School" />
                        </div>
                        <div class="col-lg-10 col-md-10">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6 g-pa-20 ">
                                    <img src="<?=$BASEURL?>/assets/images/services/student-information.jpg" class="img-responsive margin-left-right" alt="Student Information" />
                                    <p class="g-font-size-25--md g-font-size-18 text-center g-mt-30 fix-height-services9"><?=$lang['label_SV_school_groub2']?></p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 g-pa-20 ">
                                    <img src="<?=$BASEURL?>/assets/images/services/management-of-attendance.jpg" class="img-responsive margin-left-right" alt="Management of Attendance" />
                                    <p class="g-font-size-25--md g-font-size-18 text-center g-mt-30 fix-height-services9">
                                        <?=$lang['label_SV_school_groub3']?>
                                    </p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 g-pa-20 ">
                                    <img src="<?=$BASEURL?>/assets/images/services/automated-billing-online-payments.jpg" class="img-responsive margin-left-right" alt="Automated billing and online payments" />
                                    <p class="g-font-size-25--md g-font-size-18 text-center g-mt-30 fix-height-services9">
                                       <?=$lang['label_SV_school_groub4']?>
                                    </p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 g-pa-20 ">
                                    <img src="<?=$BASEURL?>/assets/images/services/streamlines-communication.jpg" class="img-responsive margin-left-right" alt="Streamlines communication" />
                                    <p class="g-font-size-25--md g-font-size-18 text-center g-mt-30 fix-height-services9">
                                       <?=$lang['label_SV_school_groub5']?>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row g-mb-80">
                        <div class="col-md-12">
                            <img src="<?=$BASEURL?>/assets/images/services/responsive-school-management-web-system.jpg" class="img-responsive margin-left-right" alt="Responsive School Management Web System" />
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row g-mb-150">
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/school-management-system.jpg" class="img-responsive" alt="School Management System" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub6']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub6-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/academic-year-support.jpg" class="img-responsive" alt="Academic Year Support" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub7']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_school_groub7-1']?>
                            </p>
                          
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/schedule-management.jpg" class="img-responsive" alt="Schedule Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub8']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                              <?=$lang['label_SV_school_groub8-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/student-management.jpg" class="img-responsive" alt="Student Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub9']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_school_groub9-1']?>
                            </p>
                         
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/teacher-management.jpg" class="img-responsive" alt="Teacher Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub10']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub10-1']?>
                            </p>
                          
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/assignment-management.jpg" class="img-responsive" alt="Assignment Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub11']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                              <?=$lang['label_SV_school_groub11-1']?>
                            </p>
                          
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/attendance-management.jpg" class="img-responsive" alt="Attendance Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub12']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                              <?=$lang['label_SV_school_groub12-1']?>
                            </p>
                         
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/school-calendar.jpg" class="img-responsive" alt="School Calendar"/>
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub13']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                              <?=$lang['label_SV_school_groub13-1']?>
                            </p>
                            
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/student-portals.jpg" class="img-responsive" alt="Student Portals" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub14']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub14-1']?>
                            </p>
                         
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/upload-course-content.jpg" class="img-responsive" alt="Upload Course Content" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub15']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub15-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/fees-management.jpg" class="img-responsive" alt="Fees Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub16']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_school_groub16-1']?>
                            </p>
                            
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/human-resources.jpg" class="img-responsive" alt="Human Resources" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub17']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub17-1']?>
                            </p>
                          
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/payroll-management.jpg" class="img-responsive" alt="Payroll Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub18']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub18-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/staff-management.jpg" class="img-responsive" alt="Staff Management" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub19']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                              <?=$lang['label_SV_school_groub19-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/parents-portal.jpg" class="img-responsive" alt="Parents Portal" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub20']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub20-1']?>
                            </p>
        
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/assignment-submission.jpg" class="img-responsive" alt="Assignment Submission" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub21']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub21-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/multiple-schools-support.jpg" class="img-responsive" alt="Multiple Schools Support" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub22']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub22-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/responsive-system.jpg" class="img-responsive" alt="Responsive System" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub23']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub23-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/online-fee-payment.jpg" class="img-responsive" alt="Online Fee Payment" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub24']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_school_groub24-1']?>
                            </p>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 g-mt-165--md g-mt-0" data-aos="zoom-in" data-aos-duration="2000">
                            <img src="<?=$BASEURL?>/assets/images/services/invoicing.jpg" class="img-responsive" alt="Invoicing" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_school_groub25']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_school_groub25-1']?>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-4 school-bg" >
              <div class="container aos-init aos-animate" data-aos="zoom-in">
                <div class="text-center">
                  <h5 class="g-color-white g-letter-spacing-6">Customized School Management System Development</h5>
                  <h2 class="g-color-white g-font-bold text-shadow9">Starting from $15,000 USD (450,000 Baht)</h2>
                  <!-- <a class="deve scrollto g-mt-50" href="{{url()}}"></a> -->
                </div>
              </div>
            </section>

             <?php include('section.htm'); ?>
        </div>