 <div class="wrapper fade-in">
            <section>
                <div class="container g-py-70--lg g-py-0">
                    <div class="row g-py-50" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12  ">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_services']?> 
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                               Customer Loyalty & Rewards System<br />
                            </h1>
                            <p class="g-font-size-16--md g-font-size-16 g-mt-30--md g-mt-0 hidden-xs hidden-sm">
                                <?=$lang['label_SV_customer_groub1']?> 
                            </p>
                            <p class="g-font-size-16--md g-font-size-16 visible-xs visible-sm">
                               <!--  We empower you to a customized loyalty<br />
                                program that can make your customers<br />
                                and members feel special. -->
                                <?=$lang['label_SV_customer_groub1']?> 
                            </p>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 g-px-0">
                            <img src="<?=$BASEURL?>/assets/images/services/Customer-Loyalty-Rewards-System.png" class="img-responsive " alt="Customer Loyalty & Rewards System" />
                        </div>
                    </div>
                    <div class="row g-py-50--md g-py-0" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-md-12 text-center  g-my-20">
                            <h3 class="g-font-weight-700"><?=$lang['label_SV_customer_groub2']?> </h3>
                        </div>
                    </div>

                    <div class="row " data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/services/fully-customizable-loyalty-program.jpg" class="img-responsive g-width-100x" alt="Fully Customizable Loyalty Program" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-top">
                            <p class="g-font-size-25--md g-font-size-18 ">
                                <?=$lang['label_SV_customer_groub3']?> 
                                <br />
                                <br />

                                <?=$lang['label_SV_customer_groub4']?> 
                            </p>
                          
                        </div>
                    </div>

                    <div class="row  dis-fix" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 g-mt-165--md g-mt-0 order-2">
                            <h3 class="g-font-bold">
                               <?=$lang['label_SV_customer_groub5']?> 
                            </h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18 ">
                               <?=$lang['label_SV_customer_groub5-1']?> 
                            </p>
                            <br/>
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_customer_groub5-2']?> 
                            </p>
                            <br/>
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_customer_groub5-3']?> 
                               
                            </p>
                            
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 order-1">
                            <img src="<?=$BASEURL?>/assets/images/services/customer-management.jpg" class="img-responsive g-width-100x" alt="Customer Management" />
                        </div>
                    </div>

                    <div class="row " data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/services/earning-rules.jpg" class="img-responsive g-width-100x"  alt="Earning Rules"/>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 margin-bottom-top">
                            <h3 class="g-font-bold"><?=$lang['label_SV_customer_groub6']?> </h3>
                            <br />
                            <div >
                                <p class="g-font-size-25--md g-font-size-18">
                                    <?=$lang['label_SV_customer_groub6-1']?>
                                </p>
                                <br />
                                <p class="g-font-size-25--md g-font-size-18">
                                   <?=$lang['label_SV_customer_groub6-2']?>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row  dis-fix" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 margin-bottom-top order-2">
                            <h3 class="g-font-bold"><?=$lang['label_SV_customer_groub7']?> </h3>
                            <br />
                            <div>
                                <p class="g-font-size-25--md g-font-size-18">
                                   <?=$lang['label_SV_customer_groub7-1']?> 
                                </p>
                                <br />
                                <p class="g-font-size-25--md g-font-size-18">
                                   <?=$lang['label_SV_customer_groub7-2']?> 
                                </p>
                                <br />
                                <p class="g-font-size-25--md g-font-size-18">
                                    <?=$lang['label_SV_customer_groub7-3']?>
                                </p>
                            </div>
                           
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 order-1">
                            <img src="<?=$BASEURL?>/assets/images/services/reward-campaigns.jpg" class="img-responsive g-width-100x" alt="Reward Campaigns" />
                        </div>
                    </div>

                    <div class="row " data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/services/manage-multi-tenant-loyalty-programs.jpg" class="img-responsive g-width-100x" alt="Manage multi-tenant loyalty programs" />
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 margin-bottom-top ">
                            <h3 class="g-font-bold"><?=$lang['label_SV_customer_groub8']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_customer_groub8-1']?>
                            </p>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_customer_groub8-2']?>
                            </p>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                               <?=$lang['label_SV_customer_groub8-3']?>
                            </p>
                        </div>
                      
                    </div>
                </div>
            </section>
            <section class="py-4 customer-bg" >
              <div class="container aos-init aos-animate" data-aos="zoom-in">
                <div class="text-center">
                  <h5 class="g-color-white g-letter-spacing-6">Customized Customer Loyalty & Rewards System Development</h5>
                  <h2 class="g-color-white g-font-bold text-shadow6">Starting from $10,000 USD (300,000 Baht)</h2>
                  <!-- <a class="deve scrollto g-mt-50" href="{{url()}}"></a> -->
                </div>
              </div>
            </section>

             <?php include('section.htm'); ?>
        </div>