
<style type="text/css">
    @media (min-width: 768px){
        .g-pa-50--md {
            padding: 1.57143rem !important;
        }
    }

    @media (min-width: 0){
        .g-pa-20 {
            padding: 0.42857rem !important;
        }
    }

</style>
<div class="wrapper fade-in">
            <section>
                <div class="container g-py-70--lg g-py-0">
                    <div class="row g-py-50" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12  ">
                            <div class="letter-spacing-2 g-font-size-13 g-font-bold">
                                <?=$lang['label_services']?>
                                <span class="letter-spacing--3">———————</span>
                            </div>
                            <h1 class="g-font-size-20--xl g-font-size-76--lg g-font-size-35--md g-font-size-36 g-font-weight-700">
                                E-mail Marketing <br />
                                System
                            </h1>
                            <p class="g-font-size-16--md g-font-size-16 g-mt-30--md g-mt-0">
                               <?=$lang['label_SV_email_groub1']?>
                            </p>
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 g-px-0">
                            <img src="<?=$BASEURL?>/assets/images/services/Email-Marketing-System.png" class="img-responsive " alt="Email Marketing System" />
                        </div>
                    </div>
                    <div class="row dis-fix">
                        <div class="col-md-5 col-sm-12 col-xs-12 margin-bottom-top  order-2" data-aos="fade-right" data-aos-duration="1000">
                            <img src="<?=$BASEURL?>/assets/images/services/create-beautiful-email-pre-designed-templates.jpg" class="img-responsive margin-left-right" alt="Create beautiful emails with pre-designed templates" />
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12 g-my-150--md g-my-80 " data-aos="fade-left" data-aos-duration="1000">
                            <div class="g-font-size-35--md g-font-size-18 g-font-bold">
                                <?=$lang['label_SV_email_groub2']?>
                            </div>
                            <br />
                            <p> <?=$lang['label_SV_email_groub3']?></p>
                            <br />
                            <p class="g-font-bold"> <?=$lang['label_SV_email_groub4']?> &nbsp;<a href="<?=$WEBURL?>/contact_us" class="f-24"> <?=$lang['label_SV_email_groub4-1']?></a></p>
                        </div>
                    </div>
                    <div class="row dis-fix" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-md-6 col-sm-12 col-xs-12 g-my-100--md g-my-80  order-2">
                            <h3 class="g-font-bold"> <?=$lang['label_SV_email_groub5']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18 ">
                                <?=$lang['label_SV_email_groub5-1']?>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 order-1">
                            <img src="<?=$BASEURL?>/assets/images/services/personalized-email-marketing.jpg" class="img-responsive margin-left-right" alt="Personalized Email Marketing" />
                        </div>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <img src="<?=$BASEURL?>/assets/images/services/powerful-marketing-automation.jpg" class="img-responsive margin-left-right" alt="Powerful Marketing Automation" />
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 g-my-100--md g-my-80 ">
                            <h3 class="g-font-bold"> <?=$lang['label_SV_email_groub6']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18">
                                <?=$lang['label_SV_email_groub6-1']?>
                            </p>
                        </div>
                    </div>
                    <div class="row dis-fix" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-md-6 col-sm-12 col-xs-12 g-my-100--md g-my-80  order-2">
                            <h3 class="g-font-bold"> <?=$lang['label_SV_email_groub7']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-18 ">
                                 <?=$lang['label_SV_email_groub7-1']?>
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 order-1">
                            <img src="<?=$BASEURL?>/assets/images/services/smart-CRM.jpg" class="img-responsive margin-left-right" alt="Smart CRM" />
                        </div>
                    </div>
                </div>
            </section>

            <section id="img-bg-email_marketing-p1">
                <div class="container g-py-170--md g-py-80">
                    <div class="row">
                        <div class="col-md-12">
                            <table align="center">
                                <tbody>
                                    <tr>
                                        <td class="hidden-xs hidden-sm">
                                            <img src="<?=$BASEURL?>/assets/images/show/img65.png" />
                                        </td>
                                        <td align="center">
                                            <h1 class="g-font-weight-700"><span class="g-color-primary"><?=$lang['label_SV_email_groub8']?>&nbsp;</span><?=$lang['label_SV_email_groub8-1']?></h1>
                                            <br />
                                            <p class="g-font-size-25--md g-font-size-18">
                                               <?=$lang['label_SV_email_groub8-2']?>
                                            </p>
                                        </td>
                                        <td class="hidden-xs hidden-sm">
                                            <img src="<?=$BASEURL?>/assets/images/show/img64.png" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row g-mt-80--md mt-50">
                        <div class="col-md-4 col-sm-6 col-xs-6 text-center g-pa-80--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/broadcast-emails.png" class="img-responsive margin-left-right" alt="Broadcast Emails" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_email_groub9']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-16 fix-height-services10_1"><?=$lang['label_SV_email_groub9-1']?></p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 text-center g-pa-80--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/triggered-emails.png" class="img-responsive margin-left-right" alt="Triggered Emails" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_email_groub10']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-16 fix-height-services10_1"><?=$lang['label_SV_email_groub10-1']?></p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 text-center g-pa-80--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/targeted-emails.png" class="img-responsive margin-left-right" alt="Targeted Emails" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_email_groub11']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-16 fix-height-services10_1"><?=$lang['label_SV_email_groub11-1']?></p>
                        </div>
                         <div class="col-md-4 col-sm-6 col-xs-6 text-center g-pa-80--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/email-autoresponders.png" class="img-responsive margin-left-right" alt="Email Autoresponders" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_email_groub12']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-16 fix-height-services10_1"><?=$lang['label_SV_email_groub12-1']?></p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 text-center g-pa-80--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/email-funnels.png" class="img-responsive margin-left-right" alt="Email Funnels" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_email_groub13']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-16 fix-height-services10_1"><?=$lang['label_SV_email_groub13-1']?></p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 text-center g-pa-80--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/scheduled-emails.png" class="img-responsive margin-left-right" alt="Scheduled Emails" />
                            <h3 class="g-font-bold"><?=$lang['label_SV_email_groub14']?></h3>
                            <br />
                            <p class="g-font-size-25--md g-font-size-16 fix-height-services10_1"><?=$lang['label_SV_email_groub14-1']?></p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="img-bg-email_marketing-p2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 g-pt-100--md g-pt-50 text-center">
                            <h1 class="g-font-weight-700">Pre-made email templates built for you</h1>
                            <h4 class="g-font-bold g-color-white">With 25+ professional email templates,</h4>
                            <p class="g-color-white-opacity-0_6">all you need to do is change the words and images to match your business.</p>
                        </div>
                        <div class="col-md-12">
                            <img src="<?=$BASEURL?>/assets/images/services/pre-made-email-templates.png" class="img-responsive margin-left-right" alt="Pre-made email templates" />
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row g-pt-100--md g-pt-50">
                        <div class="col-md-12 g-mb-50 text-center">
                            <h1 class="g-font-weight-700"><?=$lang['label_SV_email_groub15']?></h1>
                            <p class=""><?=$lang['label_SV_email_groub15-1']?></p>
                        </div>
                    </div>
                    <div class="row g-pb-100--md g-pb-50">
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/multi-user-editing.png" class="img-responsive hvr-wobble-horizontal" alt="Multi-user editing" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub16']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub16-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 "> 
                            <img src="<?=$BASEURL?>/assets/images/services/revision-history.png" class="img-responsive hvr-wobble-horizontal" alt="Revision history" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub17']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub17-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/managed-deliverability.png" class="img-responsive hvr-wobble-horizontal" alt="Managed deliverability" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub18']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub18-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/integrations.png" class="img-responsive hvr-wobble-horizontal" alt="Integrations" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub19']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub19-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/conditional-content.png" class="img-responsive hvr-wobble-horizontal" alt="Conditional content" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub20']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub20-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/mobile-optimized.png" class="img-responsive hvr-wobble-horizontal" alt="Mobile optimized" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub21']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub21-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/link-actions.png" class="img-responsive hvr-wobble-horizontal" alt="Link actions" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub22']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub22-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/custom-data.png" class="img-responsive hvr-wobble-horizontal" alt="Custom data" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub23']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub23-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/geotracking.png" class="img-responsive hvr-wobble-horizontal" alt="Geotracking" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub24']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub24-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/audience-segmentation.png" class="img-responsive hvr-wobble-horizontal" alt="Audience segmentation" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub25']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub25-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/free-image-hosting.png" class="img-responsive hvr-wobble-horizontal" alt="Free image hosting" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub26']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub26-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/personalization.png" class="img-responsive hvr-wobble-horizontal" alt="Personalization" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub27']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub27-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/social-sharing.png" class="img-responsive hvr-wobble-horizontal" alt="Social sharing" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub28']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub28-1']?></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 g-pa-50--md g-pa-20 ">
                            <img src="<?=$BASEURL?>/assets/images/services/analytics.png" class="img-responsive hvr-wobble-horizontal" alt="Analytics" />
                            <h4 class="g-font-bold"><?=$lang['label_SV_email_groub29']?></h4>
                            <div class="max-h-fix">
                                <p class="g-font-size-20--md g-font-size-16 fix-height-services10"><?=$lang['label_SV_email_groub29-1']?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <?php include('section.htm'); ?>
        </div>